/* Responsive */
@media all and (max-width: 1080px) {
  body {
    font-size: 100%;
  }

  .project {
    padding: 0 5%;
  }

  .work {
    .thumbnail {
      float:none;
      margin: 0 auto 20px auto;
      width: 465px;

      .overlay {
        .title {
          font-size: 12px;
        }
      }
    }
  }
}

@media all and (max-width: 700px) {
  .workSlider {
    .inner {
      .right {
        h3 {
          margin-top: 0 !important;
        }

        button {
          margin-top: 10px;
        }
      }
    }
  }

  .about {
    .contentLeft {
      width: 100%;
      float: none;
      margin-bottom: 100px;
    }

    .contentRight {
      width: 100%;
      float: none;
    }

  }
}

@media all and (max-width: 600px) {
  .cv {
    .skillset {
      .cell:nth-child(even) {
        padding-right: 10px;
      }
    }
  }
}

@media all and (max-width: 500px) {
  nav {
    font-size: 20px;
  }

  .about {
    .contentRight {
      .otherExperience {
        max-width: 100%;
      }
    }
  }

  .workSlider {
    .inner {
      .left {
        width: 70%;
      }
      .right {
        width: 30%;

        h3 {
          font-size: 14px;
          margin-bottom: 15px;
        }
        p {
          font-size: 11px;
          margin-bottom: 20px;
        }

        button {
          margin-top: 0;
          width: 80%;
          padding: 10px 0;
        }
      }
    }
  }

  .project {
    h1 {
      font-size: 200%;
      padding-top: 80px;
      padding-bottom: 30px;
    }
  }

  .work {
    .thumbnail {
      width: 100% !important;
    }
    .preview img {
      width: 100% !important;
    }
  }

  .googleMaps {
    height: 200px;
  }
}