/* Curriculum vitae */
.cv {
  font-size: 15px;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-weight: 300;
  color: $grey;

  .container {
    padding: 0 5% 5% 5%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }

  h1 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid lighten($grey, 10%);
    line-height: 0.1em;
    margin: 20px 0 20px 0;
    font-weight: 400;
    letter-spacing: -1.6px;

    span {
      background: #fff;
      padding: 0 20px;
      font-size: 40px;
    }
  }

  .back {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 14px;
    display: block;
    color: $main-color !important;
    font-weight: 500;

    i {
      font-size: 25px;
    }

    span {
      margin-top: 3px;
      display: block;
      float: right;
      margin-left: 5px;
      &:hover {
        color: lighten($main-color, 20%);
      }
    }

  }

  h2 {
    clear: both;
    text-transform: uppercase;
    font-weight: 500;
    text-align: right;
    font-size: 25px;
    margin-top: 50px;
  }

  h3 {
    text-align: left;
    font-weight: 400;
    text-transform: uppercase;
    clear: both;
    margin-top:0;
  }

  a {
    text-decoration: none;
    color: $grey;
  }

  .table {
    width: 100%;
    display: table;
    .row {
      width: 100%;
      display: table-row;
      .cell {
        display: table-cell;

      }
    }
  }

  /* Layout */
  .info {
    margin: 20px auto 0 auto;
    min-width: 472px;
    overflow: auto;
    display: inline-block;
    padding-left: 32px;

    ul {
      list-style: none;
      padding: 0;
      float: left;

      li {
        margin-bottom: 3px;
      }

      &:first-child {
        text-align: right;
      }

      &:last-child {
        text-align: left;
      }
    }

    .user {
      border-radius: 50px;
      height: 90px;
      width: 90px;
      float: left;
      margin: 15px 30px 0 30px;
      background: url('../img/SannePetersCV.png') 50% no-repeat;
      background-size: 95px;
    }
  }

  .past {
    font-size: 18px;
    margin: -30px 0;
    text-align: left;

    .table {
      border-spacing: 0 30px;

      .row {
        .cell {
          margin-bottom: 100px;
        }

        .certificates {
          font-style: italic;
          font-size: 14px;
          display: block;
        }

        .date {
          text-align: right;
          .month {
            font-size: 14px;
            line-height: 10px;
            display: block;
          }
        }

        .dash {
          text-align: center;
          padding-left: 25px;
        }
      }
    }
  }

  .skillset {
    font-size: 16px;
    text-align: left;

    .rating {
      min-width: 95px;
    }

    .cell {
      padding-bottom: 10px;
      width: 262px;

      &:nth-child(even) {
        text-align: right;
        width: 80px;
        padding-right: 100px;
      }

      &:last-child {
        padding-right: 0;
      }
    }
    .circle {
      border-radius: 50%;
      width: 15px;
      height: 15px;
      background: lighten($grey, 50%);
      display: block;
      float: left;
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }
    }
    .filled {
      background: lighten($grey, 20%);
    }
  }

  .col {
    float:left;
    width:50%;
  }
}