/* Imports before */
@import './font-awesome.min.css';
@import './_variables.scss';
@import './_fonts.scss';

/* General */
* {
  font-family: $font;
}

html, body {
  color: $grey;
  font-size: 100%;
  letter-spacing: 0.4px;
  margin: 0;
}

body {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

::-webkit-scrollbar {
  width: 12px;

  &-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.16);
    border-radius: 0;
    background: $grey-light;
  }

  &-thumb {
    background: white;
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.16);
  }
}

/* General */
a {
  color: $main-color;
  text-decoration: none;

  &:hover {
    color: lighten($main-color, 30%);
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  i {
    color: $main-color;

    &:hover {
      color: lighten($main-color, 10%);
      transition-property: background-color, color;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    }
  }
}

i {
  color: $main-color;
  &:hover {
    color: lighten($main-color, 5%);
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
}

.fa {
  color: $main-color;
}

h1, h2, h3 {
  font-family: $font-header;
  text-align: center;
  font-weight: 300;
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 200%;
  margin-top: 100px;
  margin-bottom: 50px;
}

h3 {
  font-size: 150%;
  margin-top: 50px;
  margin-bottom: 30px;
}

p {
  font-weight: 300;
}

.alignCenter {
  margin: 0 auto;
  text-align: center;
}

.alignRight {
  float: right;
  text-align: right;
}

.hidden {
  display: none;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #d0d0d0;
  background: #fff;
  border-radius: 2px;
  margin: 20px 0 0 0;
  font-size: 90%;
  color: $grey;
  height: 150px;
  font-weight: 300;
  resize: none;

  &:focus {
    outline: 0;
  }
}

strong {
  font-weight: 500;
}

input {
  &[type="text"], &[type="email"] {
    box-shadow: 0 1px 0 #b6b6b6;
    border: 0;
    color: $grey;
    border-radius: 0;
    font-size: 90%;
    font-weight: 300;
    float: left;
    width: 48%;
    background: transparent;
  }

  &[type="email"] {
    float: right;
  }

  &:focus {
    outline: 0;
  }

  &[type=submit] {
    @extend button;
  }
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  letter-spacing: 0.5px;
  font-size: 80%;
  text-transform: uppercase;
  color: $main-color;
  width: 150px;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: 2px solid $main-color;
  font-weight: 600;
  transition: all 0.9s ease;

  &:hover {
    background: lighten($main-color, 5%);
    color: #fff;
    transition: all 0.9s ease;
  }
}

li {
  font-weight: 300;
}

.menuBtn {
  position: fixed;
  padding: 5px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
  display: block;
  color: $main-color;
  width: 50px;
  height: 50px;
  font-size: 45px;
  margin-left: 5px;
  z-index: 9999;
}

/* Lay-out */
.menu-open {
  left: 130px;

  nav {
    left: 0;
  }
}

body, nav {
  -moz-transition: left 0.2s ease;
  -webkit-transition: left 0.2s ease;
  transition: left 0.2s ease;
}

nav {
  position: fixed;
  padding: 20px;
  letter-spacing: 0;
  background: darken(#fff, 2%);
  width: 90px;
  height: 100%;
  z-index: 999;
  font-size: 20px;
  top: 0;
  left: -160px;
  -webkit-box-shadow: 1px 0 4px 1px rgba(196, 192, 196, 0.12);
  -moz-box-shadow: 1px 0 4px 1px rgba(196, 192, 196, 0.12);
  box-shadow: 1px 0 4px 1px rgba(196, 192, 196, 0.12);

  ul {
    list-style: none;
    padding: 0;
    margin: 50px 0 0 5px;

    li {
      padding: 20px 0;
      border-bottom: 1px darken(#fff, 7%) solid;
      &:first-child {
        padding: 0 0 20px 0;
      }

      &:last-child {
        border: none;
        padding: 20px 0 0 0;
      }
    }
  }
}

.logo {
  width: 70px;
  height: 71px;
  background: url("../img/logo.png");
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  position: absolute;
  top: 7px;
  right: 7px;
}

.block {
  width: 100%;
  overflow: hidden;
  padding: 50px 3% 150px 3%;
  box-sizing: border-box;

  .insideBlock {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }

  &:nth-child(even) {
    background: rgba(245, 245, 245, 0.5);
  }
}

.intro {
  padding: 150px 3% 150px 3% !important;

  p {
    font-family: $font-header;
    text-align: center;
    font-size: 20px;
  }

  .downArrow {
    font-size: 40px;
    width: 30px;
    margin: 50px auto 0 auto;
    display: block;
  }
}

.about {
  .contentLeft {
    width: 60%;
    float: left;

    .firstP {
      margin-top: 0;
    }

    h3:first-child {
      text-align: left;
      margin-top: 0;
    }

    p {
      font-size: 16px;
    }

    .description {
      overflow: hidden;
    }

    .social {
      margin-top: 40px;
      clear: both;
      height: 20px;

      .flexBox {
        display: flex;

        .flexRow {
          width: 100%;
          display: flex;
          justify-content: space-between;

          .flexChild {
            &:hover {
              color: lighten($main-color, 30%);
            }
          }
        }
      }
    }

    .otherExperience {
      display: none;
      overflow: hidden;

      .left {
        float: left;
        width: 50%;
        box-sizing: border-box;
      }
      .right {
        float: right;
        width: 50%;
        box-sizing: border-box;
      }
    }

    .otherExperienceBtn {
      cursor: pointer;
      clear: both;
      margin-top: 50px;

      &:hover {
        color: lighten($main-color, 30%);
        transition-property: background-color, color;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
      }

      .fa {
        font-size: 12px;
        padding-left: 5px;
      }
    }
  }

  .contentRight {
    width: 30%;
    float: right;
  }

  img {
    float: left;
    width: 44%;
    max-width: 264px;
    margin: 3px 20px 0 0;
  }
}

.workSlider {
  overflow: auto;
  background: #f5f2f2 !important;
  padding: 30px 1%;
  width: 100%;
  box-sizing: border-box;
  height: 363px;

  .inner {
    height: 269px;
    max-width: 950px;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
  }

  .left {
    float: left;
    width: 50%;
    box-sizing: border-box;
    margin-bottom: 20px;

    img {
      max-width: 450px;
      width: 100%;
    }
  }
  .right {
    float: right;
    width: 50%;
    box-sizing: border-box;
    text-align: center;

    h3 {
      margin-top: 40px;
    }

    p {
      display: block;
      margin-bottom: 40px;
    }

    button {
      display: block;
      margin: 20px auto 0 auto;
    }
  }

  .selectors {
    margin: 0 auto 20px auto;
    width: 100px;
    clear: both;
    display: block;

    .selector {
      background: $main-color;
      border-radius: 50%;
      height: 15px;
      width: 15px;
      float: left;
      margin-right: 10px;
      cursor: pointer;

      &:hover {
        background: lighten($main-color, 20%);
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .activeSelector {
      background: lighten($main-color, 20%);
    }
  }
}

.click {
  cursor: pointer;
}

.bars-container {
  p {
    margin: 8px 0 5px 0;
    font-size: 12px;

    &:first-child {
      margin-top: 0 !important;
    }
  }

  div {
    height: 14px;
    background: #F3F2F2;
    border-radius: 10px;

    & > span {
      float: left;
      height: 14px;
      line-height: 10px;
      text-align: right;
      border-radius: 10px;

      & > span {
        padding: 0 7px;
        font-size: 10px;
        color: #fff;
      }
    }
    .bar {
      background: $main-color;
    }
  }
}

.work {
  text-align: center;

  i:last-child {
    margin-right: 0;
  }

  .innerBlock {
    max-width: 1000px;
    margin: 0 auto;
    min-height: 200px;
  }

  #thumbnails {
    overflow: hidden;
  }

  .thumbnail {
    margin-bottom: 20px;
    border: 1px $grey-light solid;
    overflow: hidden;
    float: left;
    position: relative;
    opacity: 0;

    &:nth-child(odd){
      margin-right: 18px;
    }

    img {
      display: block;
    }

    .overlay {
      cursor: pointer;
      position: absolute;
      opacity: 0;
      z-index: 20;
      background: rgba(255, 255, 255, 0.9);
      overflow: hidden;
      width: 100%;
      height: 100%;
      color: $grey;

      .title {
        font-weight: 400;
        font-size: 22px;
        margin: 17px 0 0 0;
      }

      .fa {
        color: #fff;
      }
    }

    .last {
      opacity: 1;
      position: absolute;
      z-index: 20;
      background: $main-color;
      overflow: hidden;
      width: 100%;
      color: #fff;
      height: 100%;

      .title {
        font-size: 21px;
        margin: 30px 0 0 0;
      }

      .fa {
        color: #fff;
      }
    }

    h3 {
      margin-bottom: 0;
    }

    img {
      width: 100%;
      -webkit-filter: grayscale(20%);
      filter: grayscale(20%);
    }
  }

  i {
    margin-right: 5%;
  }

  p {
    font-size: 90%;
    padding: 10px;
  }

  .preview {
    clear: both;
    font-size: 110%;
    padding-top: 20px;

    h3 {
      padding: 0;
      margin-bottom: 10px;
      margin-top: 10px;
    }

    p {
      margin: 0;
      overflow: hidden;
    }

    .description {
      max-width: 500px;
      margin: 0 auto 30px auto;
    }

    img {
      width: 100%;
      border: 1px $grey-light solid;
    }

    div {
      img {
        width: 49%;
      }
    }
  }

  .hidePreview {
    cursor: pointer;
    float: right;
    background: url("../img/iconClose.svg") no-repeat center center;
    width: 20px;
    height: 20px;
    transition: transform 0.4s 0s, visibility 0s 0s;
    transform: scale(1);

    &:hover {
      transition: transform 0.4s 0s, visibility 0s 0s;
      transform: scale(1.2);
    }
  }
}

.contact {
  .innerBlock {
    margin-bottom: 100px;
  }
  .result {
    margin-top: 20px;
  }

  form {
    max-width: 800px;
    margin: 0 auto;
  }

  p {
    font-family: $font-header;
    text-align: center;
  }

  label {
    float: left;
    clear: both;
    font-size: 90%;
  }

  .submitBtnContainer {
    text-align: center;
    margin-top: 10px;
  }
}

.hamburger {
  width: 30px;
  height: 20px;
  position: fixed;
  margin: 20px;
  cursor: pointer;

  .line {
    display: block;
    width: 100%;
    height: 2px;
    background: $grey;
    position: absolute;
    transition: all 200ms;
    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }
    &:nth-child(3) {
      bottom: 0;
    }
  }
  &.close {
    .line {
      &:nth-child(1),
      &:nth-child(2) {
        top: 0;
        transform: translateY(9px) rotate(45deg);
      }
      &:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
      }
    }
  }
}

.youtube {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;

  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.googleMaps, #map {
  height: 200px;
  width: 100%;
  position: absolute !important;
  bottom: 0;
  left: 0;
}

/* Project */
.project {
  max-width: 950px;
  margin: 0 auto;

  h1 {
    margin-top: 0 !important;
    clear: both;
    padding-top: 20px;
  }

  h2 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: left;
  }

  img {
    max-width: 950px;
    width: 100%;
  }

  .url {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    width: 200px;
    display: block;
    margin-bottom: 20px;
  }
}

/* Imports after */
@import './cv.scss';
@import './_mobile.scss';