/* Imports before */
@import url(./font-awesome.min.css);
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url(../fonts/Lato-Light.ttf) format("ttf"); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(../fonts/Lato-Regular.ttf) format("ttf"); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(../fonts/Lato-Bold.ttf) format("ttf"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(../fonts/OpenSans-Light.ttf) format("ttf"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(../fonts/OpenSans-Regular.ttf) format("ttf"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(../fonts/OpenSans-Semibold.ttf) format("ttf"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(../fonts/OpenSans-Bold.ttf) format("ttf"); }
/* General */
* {
  font-family: "Open Sans", verdana, sans-serif; }

html, body {
  color: #333;
  font-size: 100%;
  letter-spacing: 0.4px;
  margin: 0; }

body {
  overflow-x: hidden;
  position: relative;
  left: 0; }

::-webkit-scrollbar {
  width: 12px; }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.16);
    border-radius: 0;
    background: #f0f0f0; }
  ::-webkit-scrollbar-thumb {
    background: white;
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.16); }

/* General */
a {
  color: #796C77;
  text-decoration: none; }
  a:hover {
    color: #c3bbc2;
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out; }
  a i {
    color: #796C77; }
    a i:hover {
      color: #938591;
      transition-property: background-color, color;
      transition-duration: 0.3s;
      transition-timing-function: ease-out; }

i {
  color: #796C77; }
  i:hover {
    color: #867884;
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out; }

.fa {
  color: #796C77; }

h1, h2, h3 {
  font-family: "Lato", "Open Sans", sans-serif;
  text-align: center;
  font-weight: 300; }

h1 {
  font-size: 300%; }

h2 {
  font-size: 200%;
  margin-top: 100px;
  margin-bottom: 50px; }

h3 {
  font-size: 150%;
  margin-top: 50px;
  margin-bottom: 30px; }

p {
  font-weight: 300; }

.alignCenter {
  margin: 0 auto;
  text-align: center; }

.alignRight {
  float: right;
  text-align: right; }

.hidden {
  display: none; }

textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #d0d0d0;
  background: #fff;
  border-radius: 2px;
  margin: 20px 0 0 0;
  font-size: 90%;
  color: #333;
  height: 150px;
  font-weight: 300;
  resize: none; }
  textarea:focus {
    outline: 0; }

strong {
  font-weight: 500; }

input[type="text"], input[type="email"] {
  box-shadow: 0 1px 0 #b6b6b6;
  border: 0;
  color: #333;
  border-radius: 0;
  font-size: 90%;
  font-weight: 300;
  float: left;
  width: 48%;
  background: transparent; }
input[type="email"] {
  float: right; }
input:focus {
  outline: 0; }

button, input[type=submit] {
  margin-top: 20px;
  padding: 10px 20px;
  letter-spacing: 0.5px;
  font-size: 80%;
  text-transform: uppercase;
  color: #796C77;
  width: 150px;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: 2px solid #796C77;
  font-weight: 600;
  transition: all 0.9s ease; }
  button:hover, input[type=submit]:hover {
    background: #867884;
    color: #fff;
    transition: all 0.9s ease; }

li {
  font-weight: 300; }

.menuBtn {
  position: fixed;
  padding: 5px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
  display: block;
  color: #796C77;
  width: 50px;
  height: 50px;
  font-size: 45px;
  margin-left: 5px;
  z-index: 9999; }

/* Lay-out */
.menu-open {
  left: 130px; }
  .menu-open nav {
    left: 0; }

body, nav {
  -moz-transition: left 0.2s ease;
  -webkit-transition: left 0.2s ease;
  transition: left 0.2s ease; }

nav {
  position: fixed;
  padding: 20px;
  letter-spacing: 0;
  background: #fafafa;
  width: 90px;
  height: 100%;
  z-index: 999;
  font-size: 20px;
  top: 0;
  left: -160px;
  -webkit-box-shadow: 1px 0 4px 1px rgba(196, 192, 196, 0.12);
  -moz-box-shadow: 1px 0 4px 1px rgba(196, 192, 196, 0.12);
  box-shadow: 1px 0 4px 1px rgba(196, 192, 196, 0.12); }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 50px 0 0 5px; }
    nav ul li {
      padding: 20px 0;
      border-bottom: 1px #ededed solid; }
      nav ul li:first-child {
        padding: 0 0 20px 0; }
      nav ul li:last-child {
        border: none;
        padding: 20px 0 0 0; }

.logo {
  width: 70px;
  height: 71px;
  background: url("../img/logo.png");
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  position: absolute;
  top: 7px;
  right: 7px; }

.block {
  width: 100%;
  overflow: hidden;
  padding: 50px 3% 150px 3%;
  box-sizing: border-box; }
  .block .insideBlock {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto; }
  .block:nth-child(even) {
    background: rgba(245, 245, 245, 0.5); }

.intro {
  padding: 150px 3% 150px 3% !important; }
  .intro p {
    font-family: "Lato", "Open Sans", sans-serif;
    text-align: center;
    font-size: 20px; }
  .intro .downArrow {
    font-size: 40px;
    width: 30px;
    margin: 50px auto 0 auto;
    display: block; }

.about .contentLeft {
  width: 60%;
  float: left; }
  .about .contentLeft .firstP {
    margin-top: 0; }
  .about .contentLeft h3:first-child {
    text-align: left;
    margin-top: 0; }
  .about .contentLeft p {
    font-size: 16px; }
  .about .contentLeft .description {
    overflow: hidden; }
  .about .contentLeft .social {
    margin-top: 40px;
    clear: both;
    height: 20px; }
    .about .contentLeft .social .flexBox {
      display: flex; }
      .about .contentLeft .social .flexBox .flexRow {
        width: 100%;
        display: flex;
        justify-content: space-between; }
        .about .contentLeft .social .flexBox .flexRow .flexChild:hover {
          color: #c3bbc2; }
  .about .contentLeft .otherExperience {
    display: none;
    overflow: hidden; }
    .about .contentLeft .otherExperience .left {
      float: left;
      width: 50%;
      box-sizing: border-box; }
    .about .contentLeft .otherExperience .right {
      float: right;
      width: 50%;
      box-sizing: border-box; }
  .about .contentLeft .otherExperienceBtn {
    cursor: pointer;
    clear: both;
    margin-top: 50px; }
    .about .contentLeft .otherExperienceBtn:hover {
      color: #c3bbc2;
      transition-property: background-color, color;
      transition-duration: 0.3s;
      transition-timing-function: ease-out; }
    .about .contentLeft .otherExperienceBtn .fa {
      font-size: 12px;
      padding-left: 5px; }
.about .contentRight {
  width: 30%;
  float: right; }
.about img {
  float: left;
  width: 44%;
  max-width: 264px;
  margin: 3px 20px 0 0; }

.workSlider {
  overflow: auto;
  background: #f5f2f2 !important;
  padding: 30px 1%;
  width: 100%;
  box-sizing: border-box;
  height: 363px; }
  .workSlider .inner {
    height: 269px;
    max-width: 950px;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box; }
  .workSlider .left {
    float: left;
    width: 50%;
    box-sizing: border-box;
    margin-bottom: 20px; }
    .workSlider .left img {
      max-width: 450px;
      width: 100%; }
  .workSlider .right {
    float: right;
    width: 50%;
    box-sizing: border-box;
    text-align: center; }
    .workSlider .right h3 {
      margin-top: 40px; }
    .workSlider .right p {
      display: block;
      margin-bottom: 40px; }
    .workSlider .right button, .workSlider .right input[type=submit] {
      display: block;
      margin: 20px auto 0 auto; }
  .workSlider .selectors {
    margin: 0 auto 20px auto;
    width: 100px;
    clear: both;
    display: block; }
    .workSlider .selectors .selector {
      background: #796C77;
      border-radius: 50%;
      height: 15px;
      width: 15px;
      float: left;
      margin-right: 10px;
      cursor: pointer; }
      .workSlider .selectors .selector:hover {
        background: #aba0a9; }
      .workSlider .selectors .selector:last-child {
        margin-right: 0; }
    .workSlider .selectors .activeSelector {
      background: #aba0a9; }

.click {
  cursor: pointer; }

.bars-container p {
  margin: 8px 0 5px 0;
  font-size: 12px; }
  .bars-container p:first-child {
    margin-top: 0 !important; }
.bars-container div {
  height: 14px;
  background: #F3F2F2;
  border-radius: 10px; }
  .bars-container div > span {
    float: left;
    height: 14px;
    line-height: 10px;
    text-align: right;
    border-radius: 10px; }
    .bars-container div > span > span {
      padding: 0 7px;
      font-size: 10px;
      color: #fff; }
  .bars-container div .bar {
    background: #796C77; }

.work {
  text-align: center; }
  .work i:last-child {
    margin-right: 0; }
  .work .innerBlock {
    max-width: 1000px;
    margin: 0 auto;
    min-height: 200px; }
  .work #thumbnails {
    overflow: hidden; }
  .work .thumbnail {
    margin-bottom: 20px;
    border: 1px #f0f0f0 solid;
    overflow: hidden;
    float: left;
    position: relative;
    opacity: 0; }
    .work .thumbnail:nth-child(odd) {
      margin-right: 18px; }
    .work .thumbnail img {
      display: block; }
    .work .thumbnail .overlay {
      cursor: pointer;
      position: absolute;
      opacity: 0;
      z-index: 20;
      background: rgba(255, 255, 255, 0.9);
      overflow: hidden;
      width: 100%;
      height: 100%;
      color: #333; }
      .work .thumbnail .overlay .title {
        font-weight: 400;
        font-size: 22px;
        margin: 17px 0 0 0; }
      .work .thumbnail .overlay .fa {
        color: #fff; }
    .work .thumbnail .last {
      opacity: 1;
      position: absolute;
      z-index: 20;
      background: #796C77;
      overflow: hidden;
      width: 100%;
      color: #fff;
      height: 100%; }
      .work .thumbnail .last .title {
        font-size: 21px;
        margin: 30px 0 0 0; }
      .work .thumbnail .last .fa {
        color: #fff; }
    .work .thumbnail h3 {
      margin-bottom: 0; }
    .work .thumbnail img {
      width: 100%;
      -webkit-filter: grayscale(20%);
      filter: grayscale(20%); }
  .work i {
    margin-right: 5%; }
  .work p {
    font-size: 90%;
    padding: 10px; }
  .work .preview {
    clear: both;
    font-size: 110%;
    padding-top: 20px; }
    .work .preview h3 {
      padding: 0;
      margin-bottom: 10px;
      margin-top: 10px; }
    .work .preview p {
      margin: 0;
      overflow: hidden; }
    .work .preview .description {
      max-width: 500px;
      margin: 0 auto 30px auto; }
    .work .preview img {
      width: 100%;
      border: 1px #f0f0f0 solid; }
    .work .preview div img {
      width: 49%; }
  .work .hidePreview {
    cursor: pointer;
    float: right;
    background: url("../img/iconClose.svg") no-repeat center center;
    width: 20px;
    height: 20px;
    transition: transform 0.4s 0s, visibility 0s 0s;
    transform: scale(1); }
    .work .hidePreview:hover {
      transition: transform 0.4s 0s, visibility 0s 0s;
      transform: scale(1.2); }

.contact .innerBlock {
  margin-bottom: 100px; }
.contact .result {
  margin-top: 20px; }
.contact form {
  max-width: 800px;
  margin: 0 auto; }
.contact p {
  font-family: "Lato", "Open Sans", sans-serif;
  text-align: center; }
.contact label {
  float: left;
  clear: both;
  font-size: 90%; }
.contact .submitBtnContainer {
  text-align: center;
  margin-top: 10px; }

.hamburger {
  width: 30px;
  height: 20px;
  position: fixed;
  margin: 20px;
  cursor: pointer; }
  .hamburger .line {
    display: block;
    width: 100%;
    height: 2px;
    background: #333;
    position: absolute;
    transition: all 200ms; }
    .hamburger .line:nth-child(1) {
      top: 0; }
    .hamburger .line:nth-child(2) {
      top: 50%;
      transform: translateY(-50%); }
    .hamburger .line:nth-child(3) {
      bottom: 0; }
  .hamburger.close .line:nth-child(1), .hamburger.close .line:nth-child(2) {
    top: 0;
    transform: translateY(9px) rotate(45deg); }
  .hamburger.close .line:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg); }

.youtube {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; }
  .youtube .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.googleMaps, #map {
  height: 200px;
  width: 100%;
  position: absolute !important;
  bottom: 0;
  left: 0; }

/* Project */
.project {
  max-width: 950px;
  margin: 0 auto; }
  .project h1 {
    margin-top: 0 !important;
    clear: both;
    padding-top: 20px; }
  .project h2 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: left; }
  .project img {
    max-width: 950px;
    width: 100%; }
  .project .url {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    width: 200px;
    display: block;
    margin-bottom: 20px; }

/* Imports after */
/* Curriculum vitae */
.cv {
  font-size: 15px;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-weight: 300;
  color: #333;
  /* Layout */ }
  .cv .container {
    padding: 0 5% 5% 5%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center; }
  .cv h1 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #4d4d4d;
    line-height: 0.1em;
    margin: 20px 0 20px 0;
    font-weight: 400;
    letter-spacing: -1.6px; }
    .cv h1 span {
      background: #fff;
      padding: 0 20px;
      font-size: 40px; }
  .cv .back {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 14px;
    display: block;
    color: #796C77 !important;
    font-weight: 500; }
    .cv .back i {
      font-size: 25px; }
    .cv .back span {
      margin-top: 3px;
      display: block;
      float: right;
      margin-left: 5px; }
      .cv .back span:hover {
        color: #aba0a9; }
  .cv h2 {
    clear: both;
    text-transform: uppercase;
    font-weight: 500;
    text-align: right;
    font-size: 25px;
    margin-top: 50px; }
  .cv h3 {
    text-align: left;
    font-weight: 400;
    text-transform: uppercase;
    clear: both;
    margin-top: 0; }
  .cv a {
    text-decoration: none;
    color: #333; }
  .cv .table {
    width: 100%;
    display: table; }
    .cv .table .row {
      width: 100%;
      display: table-row; }
      .cv .table .row .cell {
        display: table-cell; }
  .cv .info {
    margin: 20px auto 0 auto;
    min-width: 472px;
    overflow: auto;
    display: inline-block;
    padding-left: 32px; }
    .cv .info ul {
      list-style: none;
      padding: 0;
      float: left; }
      .cv .info ul li {
        margin-bottom: 3px; }
      .cv .info ul:first-child {
        text-align: right; }
      .cv .info ul:last-child {
        text-align: left; }
    .cv .info .user {
      border-radius: 50px;
      height: 90px;
      width: 90px;
      float: left;
      margin: 15px 30px 0 30px;
      background: url("../img/SannePetersCV.png") 50% no-repeat;
      background-size: 95px; }
  .cv .past {
    font-size: 18px;
    margin: -30px 0;
    text-align: left; }
    .cv .past .table {
      border-spacing: 0 30px; }
      .cv .past .table .row .cell {
        margin-bottom: 100px; }
      .cv .past .table .row .certificates {
        font-style: italic;
        font-size: 14px;
        display: block; }
      .cv .past .table .row .date {
        text-align: right; }
        .cv .past .table .row .date .month {
          font-size: 14px;
          line-height: 10px;
          display: block; }
      .cv .past .table .row .dash {
        text-align: center;
        padding-left: 25px; }
  .cv .skillset {
    font-size: 16px;
    text-align: left; }
    .cv .skillset .rating {
      min-width: 95px; }
    .cv .skillset .cell {
      padding-bottom: 10px;
      width: 262px; }
      .cv .skillset .cell:nth-child(even) {
        text-align: right;
        width: 80px;
        padding-right: 100px; }
      .cv .skillset .cell:last-child {
        padding-right: 0; }
    .cv .skillset .circle {
      border-radius: 50%;
      width: 15px;
      height: 15px;
      background: #b3b3b3;
      display: block;
      float: left;
      margin-right: 5px; }
      .cv .skillset .circle:last-child {
        margin-right: 0; }
    .cv .skillset .filled {
      background: #666666; }
  .cv .col {
    float: left;
    width: 50%; }

/* Responsive */
@media all and (max-width: 1080px) {
  body {
    font-size: 100%; }

  .project {
    padding: 0 5%; }

  .work .thumbnail {
    float: none;
    margin: 0 auto 20px auto;
    width: 465px; }
    .work .thumbnail .overlay .title {
      font-size: 12px; } }
@media all and (max-width: 700px) {
  .workSlider .inner .right h3 {
    margin-top: 0 !important; }
  .workSlider .inner .right button, .workSlider .inner .right input[type=submit] {
    margin-top: 10px; }

  .about .contentLeft {
    width: 100%;
    float: none;
    margin-bottom: 100px; }
  .about .contentRight {
    width: 100%;
    float: none; } }
@media all and (max-width: 600px) {
  .cv .skillset .cell:nth-child(even) {
    padding-right: 10px; } }
@media all and (max-width: 500px) {
  nav {
    font-size: 20px; }

  .about .contentRight .otherExperience {
    max-width: 100%; }

  .workSlider .inner .left {
    width: 70%; }
  .workSlider .inner .right {
    width: 30%; }
    .workSlider .inner .right h3 {
      font-size: 14px;
      margin-bottom: 15px; }
    .workSlider .inner .right p {
      font-size: 11px;
      margin-bottom: 20px; }
    .workSlider .inner .right button, .workSlider .inner .right input[type=submit] {
      margin-top: 0;
      width: 80%;
      padding: 10px 0; }

  .project h1 {
    font-size: 200%;
    padding-top: 80px;
    padding-bottom: 30px; }

  .work .thumbnail {
    width: 100% !important; }
  .work .preview img {
    width: 100% !important; }

  .googleMaps {
    height: 200px; } }

/*# sourceMappingURL=style.css.map */
