//================================================================================
// Mixins
//================================================================================

// Add retina image.
@mixin at2x($path, $width, $height, $position:auto, $color: 'transparent') {
  /* on retina, use image that's scaled by 2, size should be of the small version */
  @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 1.5) {
    background: url($path) no-repeat;
    background-size: $width $height;
    background-position: $position;
    background-color: $color;
  }
}

// Image path
$imgURL: '/images';

// Border radius
@mixin border-radius($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;        /* Firefox */
  -khtml-border-radius: $radius;
  -webkit-border-radius: $radius;     /* Safari & Chrome  */
}

// Appearance
@mixin appearance($appearance) {
  appearance: $appearance;
  -webkit-appearance: $appearance;    /* Safari & Chrome  */
  -moz-appearance: $appearance;       /* Firefox */
}

// Display flex
@mixin display-flex() {
  display: -webkit-box;               /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;               /* TWEENER - IE 10 */
  display: -webkit-flex;              /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;                      /* NEW, Spec - Firefox, Chrome, Opera */
}


// Flex
@mixin flex($flex) {
  flex: $flex;                         /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-box-flex: $flex;             /* OLD - iOS 6-, Safari 3.1-6 */
  -webkit-flex: $flex;                 /* Safari 6.1+. iOS 7.1+, BB10 */
  -ms-flex: $flex;                     /* IE 10 */
}

// Disable select
@mixin select($select) {
  -webkit-user-select: $select;         /* Chrome all / Safari all */
  -moz-user-select: $select;            /* Firefox all */
  -ms-user-select: $select;             /* IE 10+ */
  user-select: $select;                 /* Likely future */
}

// Placeholder
@mixin placeholder($color, $font-style: none, $parent: false) {
  @if ($parent) {
    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color: $color;
      font-style: $font-style;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: $color;
      opacity: 1;
      font-style: $font-style;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: $color;
      opacity: 1;
      font-style: $font-style;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $color;
      font-style: $font-style;
    }
  } @else {
    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color: $color;
      font-style: $font-style;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: $color;
      opacity: 1;
      font-style: $font-style;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: $color;
      opacity: 1;
      font-style: $font-style;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $color;
      font-style: $font-style;
    }
  }
}

// Progress bar (HTML5)
@mixin progressBar($color, $border-radius) {
  &::-webkit-progress-value {
    background: $color;

    @include border-radius($border-radius);
  }

  &::-moz-progress-bar {
    background: $color;

    @include border-radius($border-radius);
  }

  &::-webkit-progress-bar {
    background:$color-grey-light;
    color: $color;

    @include border-radius($border-radius);
  }
}

// Size
@mixin size($height, $width: $height) {
  width: $width;
  height: $height;
}

// Set image as background

// path:  image path
// w:     image width
// h:     image height
// p:     position
// r:     repeat image
// hover: second image to shows on hover
@mixin background($path, $w: auto, $h: auto, $p: left top, $r: repeat, $hover: false, $ext: "png") {
  background-image: url($imgURL + "/" + $path + "." + $ext);
  background-size: $w $h;
  background-position: $p;
  background-repeat: $r;
  $at2x_path: $path + "@2x" + "." + $ext;
  $hover_path: $path + "-active" + "." + $ext;
  $hover2x_path: $path + "-active@2x" + "." + $ext;
  @if ($hover) {
    &:hover {
      background-image: url($imgURL + "/" + $hover_path);
    }
  }

  @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 1.5) {
    background-image: url($imgURL + "/" + $at2x_path);

    @if ($hover) {
      &:hover {
        background-image: url($imgURL + "/" + $hover2x_path);
      }
    }
  }
}