//================================================================================
// Variables
//================================================================================


$color-blue: #30346a;
$color-yellow: #ecb643;
$color-grey-light: #eee;
$color-grey-middle: #d9d7d7;
$color-grey-dark: #9a9898;
$color-blue-grey: #95a5a6;
$color-red: #d6464f;

$text-font-family: 'Open Sans', sans-serif;
$imgURL: '/images';

//Planning colours
$color-backlog:#d6464f;
$color-todo:#79BBDB;
$color-doing:#d07cdc;
$color-woa:#ef952c;
$color-done:#9fc72f;