/* Imports */
@import './reset.css';
@import './fonts.css';
@import './1680.css';
@import './_variables.scss';
@import './_functions.scss';

/* General */
* {
  font-family: $text-font-family;

  &:focus {
    outline: none;
  }
}

body, html {
  margin: 0;
  color: $color-blue;
  font-size: 12px;
  height: 100%;
  background: #eee;
  letter-spacing: 0.3px;
  overflow-x: hidden;

  ::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: #D4D4D4;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #2e3165;
  }
}

a {
  text-decoration: none;
  color: $color-blue;
}

.fa {
  cursor: pointer;
}

.btn {
  display: block;
  background: $color-blue;
  border: 0;
  width: 150px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  line-height: 30px;
  height: 30px;
  font-size: 11px;

  i:hover {
    color: #fff;
  }

  &:hover {
    background: $color-yellow;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
}

.exitForm {
  clear: both;
  margin-top: 20px;

  .btn {
    float: left;
  }

  .save {
    width: 49%;
  }

  .cancel {
    background: $color-red;
    margin-left: 10px;
    width: 49%;

    &:hover {
      background: darken($color-red, 10%);
    }
  }
}

.flexTable {
  margin-top: 20px;

  .row {
    width: 100%;

    @include display-flex();

    .cell {
      @include display-flex();
      @include flex(1);
    }

    .formString {
      margin: 8px 0 8px 1px;
    }

    .column {
      flex-direction: column;
      margin-top: 20px;
    }
  }

  .alignBaseline {
    align-items: baseline;

    .cell:first-child {
      @include flex(1);
    }
    .cell:last-child {
      @include flex(3);
    }
  }

  a.clickRow {
    width: 100%;

    @include display-flex();
  }

  .head-row {
    margin-top: 10px;
    font-weight: 600;

    .cell {
      padding-bottom: 10px;
      margin: 0 10px;
    }
  }

  .body-row {
    .cell {
      background: transparent;
    }
  }

  .inactive {
    display: none;
    color: darken($color-grey-light, 40%);

    a {
      color: darken($color-grey-light, 40%);

    }
  }
}

.requiredField {
  color: $color-yellow;
  margin-left: 5px;
}

textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid $color-grey-middle;
  resize: none;
  height: 75px;
  color: darken($color-grey-dark, 10%);
  font-size: 12px;
}

:disabled {
  background: lighten($color-grey-light, 4%);
}

input {
  display: block;
  padding: 9px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid $color-grey-middle;
  margin-bottom: 2px;
  float: right;
  color: darken($color-grey-dark, 10%);

  &[type="submit"] {
    @extend .btn;
    line-height: 0;
  }

  &[type="checkbox"] {
    position: relative;
    margin: 12px 0 0 2px;
    width: 10px;

    &:before {
      content: '';
      background: #fff;
      border: 1px $color-grey-middle solid;
      color: white;
      position: absolute;
      width: 13px;
      height: 13px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &:checked {
      position: relative;

      &:before {
        border: none;
        background: url('../images/icon_checked.png');
        position: absolute;
        width: 15px;
        height: 15px;

        @include at2x('../images/icon_checked@2x.png', 15px, 15px);
      }
    }
  }
}

.selectArrows {
  position: relative;
  background: url(../images/select_arrow.png) no-repeat right 13px center white;
  background-size: 17px 10px;
  width: 100%;

  @include at2x('../images/select_arrow@2x.png', 17px, 10px, right 13px center, #fff);

  select {
    height: 40px;
    padding: 10px;
    font-size: 11px;
    box-sizing: border-box;
    background: transparent;
    border: 1px solid $color-grey-middle;
    color: darken($color-grey-dark, 10%);
    position: relative;
    margin-bottom: 3px;
    width: 100%;

    @include border-radius(0);
    @include appearance(none);
  }
}

.errors > * {
  margin-top: 0;
}

.info, .alert, .error {
  padding: 10px 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: 5px 5px 0 5px;

  a {
    color: #fff;
    font-weight: bold;
  }
}

.info {
  background: #76c145;
}

.alert {
  background: $color-yellow;
}

.error {
  background: $color-red;
}

.closeError {
  float: right;
  margin-right: 7px;

  &:hover {
    color: #000;
  }
}

.modalErrors {
  .error {
    margin: 0;
  }
}

.loadingIcon {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 24px;
  width: 24px;
  background: url("../images/icon_loading.gif");
  margin: auto;

  @include at2x('../images/icon_loading@2x.gif', 24px, 24px);
}

/* Specific Classes */
header {
  background: #fff;
  width: 100%;
  padding: 5px 15px;

  .container12 {
    justify-content: space-between;
    align-items: center;
    position: relative;

    @include display-flex();

    .logoContainer {
      @include flex(1);

      .logo {
        background: url("../images/logo_webiq.png") no-repeat;
        width: 125px;
        height: 41px;
        background-size: 125px 41px;
        display: block;

        @include at2x('../images/logo_webiq@2x.png', 125px, 41px);
      }
    }

    .loggedIn {
      float: right;
      align-items: center;
      text-align: right;
      justify-content: flex-end;

      @include display-flex();
      @include flex(1);

      .userIcon {
        background: url('../images/users/default_icon.jpg');
        background-size: 30px 30px;
        height: 30px;
        width: 30px;

        @include at2x('../images/users/default_icon@2x.jpg', 30px, 30px);
      }

      span {
        padding: 0 0 0 10px;
        font-size: 13px;
      }
    }
  }

}

.columnWrapper {
  min-height: -webkit-calc(100% - 51px);
  min-height: -moz-calc(100% - 51px);
  min-height: calc(100% - 51px);

  @include display-flex();

  .draggable {
    height: auto;

    @include display-flex();
  }

  .column {
    padding-top: 10px;
    border-right: 1px solid #fff;
    border-top: none;
    border-bottom: none;
    box-sizing: border-box;
    padding-bottom: 80px;

    .filterSelect {
      margin-bottom: 5px;
    }

    &:first-child {
      border-left: 1px solid #fff;
    }

    h2 {
      font-weight: 600;
      font-size: 14px;
      text-align: center;
      margin: 13px 0;
    }

    .statusColor {
      width: 10px;
      height: 10px;
      background: $color-red;
      color: #fff;
      overflow: hidden;
      margin-right: 5px;
      display: inline-block;

      @include border-radius(50%);
    }

    .statusBacklog {
      background: $color-backlog;
    }
    .statusTodo {
      background: $color-todo;
    }
    .statusDoing {
      background: $color-doing;
    }
    .statusDone {
      background: $color-done;
    }
    .statusWOA {
      background: $color-woa;
    }

    .columnSubtext {
      color: $color-grey-dark;
      text-align: center;
      cursor: pointer;

      .fa {
        margin: 0 3px;
      }
      .editFirstDay {
        display: none;
        span {
          display: block;
          margin-bottom: 5px;
          cursor: default;
        }
        input {
          text-align: center;
          width: 140px;
          margin: 0 auto;
          display: block;
          float: none;
          cursor: pointer;
        }
        .hide {
          height: 15px;
          width: 15px;
          margin: 5px auto 0 auto;
          background: url('../images/icon_close.svg');
          background-size: 15px;
          transition: transform 0.4s 0s, visibility 0s 0s;

          &:hover {
            transition: transform 0.4s 0s, visibility 0s 0s;
            transform: scale(1.2);
          }
        }
      }

      &:hover {
        color: darken($color-grey-dark, 10%);
      }
    }
    .addTaskBtn {
      width: 100%;
      margin-bottom: 5px;
    }
  }

  .filterColumn {
    margin-right: 0;
    padding: 5px 0 0 5px;
    border: none;
  }
}

.task {
  border: 1px solid $color-grey-middle;
  background: #fff;
  width: 96%;
  margin: 0 auto 10px auto;
  height: auto;
  cursor:move;

  &:last-child {
    margin-bottom: 0;
  }

  .mainView {
    padding: 5px;
  }

  .title {
    margin: 0 0 10px 0;
    .taskName {
      font-weight: bold;
    }
    .companyName {
      font-size: 11px;
    }
  }

  .leftSpan {
    color: darken(#CFCFD7, 20%);
  }
  .rightSpan {
    float: right;
  }

  .attributes {
    justify-content: space-between;
    cursor: default;

    @include display-flex();

    .fa {
      cursor: default;
    }

    .timeSpend {
      color: $color-yellow;
    }

    .initials {
      font-weight: 600;
    }

    .difficulty {
      float: left;
      font-weight: bold;

      @include display-flex();
    }
  }

  .data {
    border-top: 1px solid $color-grey-light;
    padding: 5px;
    display: none;
    background: white;

    div {
      margin-bottom: 3px;
    }

    .taskType {
      font-style: italic;
    }

    .description {
      clear: both;
      margin: 10px 0 0 0;
    }

    .taskIcons {
      overflow: hidden;
      margin-bottom: 0;

      div {
        margin-bottom: 0;
        float: right;
        display: block;
        color: $color-blue;
        margin-left: 10px;

        &:hover {
          color: $color-yellow;
        }
      }
    }
  }

  .showOrHide {
    background: #ebebeb;
    color: $color-grey-dark;
    padding: 5px 0;
    cursor: pointer;
    text-align: center;
    font-size: 9px;

    &:hover {
      color: darken($color-grey-dark, 10%);
    }
  }
}

.noDrag > div {
  cursor: default;
  @include select(none);
}

.modalContainer {
  overflow: auto;

  .overlay {
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    position: fixed;
    overflow-y: auto;

    .modal {
      background: #fff;
      margin: 10px auto 0 auto;
      padding: 20px;
      overflow: hidden;
      width: 560px;

      .header {
        margin-bottom: 10px;
        overflow: hidden;
        height: 19px;

        .hideModal {
          float: right;
          height: 15px;
          width: 15px;
          margin: 0 auto;
          background: url('../images/icon_close.svg');
          background-size: 15px;
          transition: transform 0.4s 0s, visibility 0s 0s;

          &:hover {
            transition: transform 0.4s 0s, visibility 0s 0s;
            transform: scale(1.2);
          }
        }

        h2 {
          float: left;
          font-size: 16px;
          font-weight: 600;
        }
      }

      .addEpic {
        text-decoration: underline;
      }

      .text {
        margin: 14px 0;
        display: block;
      }

      .noEpic {
        color: $color-red;

        a {
          color: $color-red;
        }
      }

      p {
        clear: both;
      }

      form {
        h2 {
          font-size: 14px;
          font-weight: 600;
          margin: 20px 0 10px 0;

          span {
            font-size: 12px;
          }
        }

        .onlyShowIfAssigneeIsYou, .onlyShowAfterProjectSelected {
          display: none;
        }
      }
      .deleteTaskName {
        display: block;
        margin: 20px 0 10px 0;
        font-style: italic;
        font-weight: 600;
        font-size: 12px;
      }
    }
  }
}

/* SELECT2 OVERWRITE */
.select2-container {
  width: 100% !important;
}

.select2-container--default {
  .select2-results__option--highlighted[aria-selected] {
    background-color: $color-blue;
    color: #fff;
  }

  .select2-results > .select2-results__options {
    width: 100% !important;
  }
}

.select2-dropdown {
  border: 1px solid $color-grey-middle !important;

  @include border-radius(0);
}

.select2-search__field {
  margin-bottom: 5px !important;
  border: 1px solid $color-grey-middle !important;
  background: #fff url('../images/select2.png') no-repeat 100% -22px;

  @include border-radius(0);
}

.select2Arrows {
  margin-bottom: 2px;
  width: 100%;
  float: right;
  background: url(../images/select_arrow.png) no-repeat right 13px center white;
  background-size: 17px 10px;

  @include at2x('../images/select_arrow@2x.png', 17px, 10px, right 13px center, #fff);

  .select2-container--default {
    .select2-selection--single {
      border: 1px solid $color-grey-middle;
      height: 40px;
      padding: 10px;
      font-size: 11px;
      box-sizing: border-box;
      background: transparent;
      position: relative;

      @include border-radius(0);
      @include appearance(none);

      .select2-selection__rendered {
        padding-left: 0;
        color: darken($color-grey-dark, 10%);
        line-height: normal;
      }

      .select2-selection__arrow {
        display: none;
      }
    }
  }

  .select2-results__option--highlighted {
    background-color: $color-blue;
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
  header {
    .column2 {
      width: 140px;
    }
  }

  .overlay {
    .modal {
      width: 420px;
    }
  }

  .columnWrapper {
    flex-direction: column;

    .draggable {
      height: auto;
      flex-direction: column;
    }
    .column2 {
      min-height: 300px;
      padding-bottom: 20px;
      border: 1px white solid;
      border-top: none;

      h2 {
        margin-top: 0;
      }
    }
  }
}

@media only screen and (max-width: 960px) and (min-width: 767px) {
  .columnWrapper {
    .column {
      h2 {
        font-size: 11px;
      }
    }
  }

  .addTask, .columnSubtext {
    font-size: 10px;
  }
  .task {
    .attributes {
      font-size: 11px;
      .initials {
      }
      .estimatedTime {
        min-width: 43px;
      }
      .timeSpend {
        min-width: 43px;
      }
    }
  }
}