/* Imports */
@import url(./reset.css);
@import url(./fonts.css);
@import url(./1680.css);
/* General */
* {
  font-family: "Open Sans", sans-serif; }
  *:focus {
    outline: none; }

body, html {
  margin: 0;
  color: #30346a;
  font-size: 12px;
  height: 100%;
  background: #eee;
  letter-spacing: 0.3px;
  overflow-x: hidden; }
  body ::-webkit-scrollbar, html ::-webkit-scrollbar {
    height: 10px;
    width: 10px; }
  body ::-webkit-scrollbar-track, html ::-webkit-scrollbar-track {
    background-color: #D4D4D4; }
  body ::-webkit-scrollbar-thumb, html ::-webkit-scrollbar-thumb {
    background-color: #2e3165; }

a {
  text-decoration: none;
  color: #30346a; }

.fa {
  cursor: pointer; }

.btn, input[type="submit"] {
  display: block;
  background: #30346a;
  border: 0;
  width: 150px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  line-height: 30px;
  height: 30px;
  font-size: 11px; }
  .btn i:hover, input[type="submit"] i:hover {
    color: #fff; }
  .btn:hover, input[type="submit"]:hover {
    background: #ecb643;
    cursor: pointer;
    transition: all 0.3s ease 0s; }

.exitForm {
  clear: both;
  margin-top: 20px; }
  .exitForm .btn, .exitForm input[type="submit"] {
    float: left; }
  .exitForm .save {
    width: 49%; }
  .exitForm .cancel {
    background: #d6464f;
    margin-left: 10px;
    width: 49%; }
    .exitForm .cancel:hover {
      background: #bf2a34; }

.flexTable {
  margin-top: 20px; }
  .flexTable .row {
    width: 100%;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */ }
    .flexTable .row .cell {
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
      display: flex;
      /* NEW, Spec - Firefox, Chrome, Opera */
      flex: 1;
      /* NEW, Spec - Firefox, Chrome, Opera */
      -webkit-box-flex: 1;
      /* OLD - iOS 6-, Safari 3.1-6 */
      -webkit-flex: 1;
      /* Safari 6.1+. iOS 7.1+, BB10 */
      -ms-flex: 1;
      /* IE 10 */ }
    .flexTable .row .formString {
      margin: 8px 0 8px 1px; }
    .flexTable .row .column {
      flex-direction: column;
      margin-top: 20px; }
  .flexTable .alignBaseline {
    align-items: baseline; }
    .flexTable .alignBaseline .cell:first-child {
      flex: 1;
      /* NEW, Spec - Firefox, Chrome, Opera */
      -webkit-box-flex: 1;
      /* OLD - iOS 6-, Safari 3.1-6 */
      -webkit-flex: 1;
      /* Safari 6.1+. iOS 7.1+, BB10 */
      -ms-flex: 1;
      /* IE 10 */ }
    .flexTable .alignBaseline .cell:last-child {
      flex: 3;
      /* NEW, Spec - Firefox, Chrome, Opera */
      -webkit-box-flex: 3;
      /* OLD - iOS 6-, Safari 3.1-6 */
      -webkit-flex: 3;
      /* Safari 6.1+. iOS 7.1+, BB10 */
      -ms-flex: 3;
      /* IE 10 */ }
  .flexTable a.clickRow {
    width: 100%;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */ }
  .flexTable .head-row {
    margin-top: 10px;
    font-weight: 600; }
    .flexTable .head-row .cell {
      padding-bottom: 10px;
      margin: 0 10px; }
  .flexTable .body-row .cell {
    background: transparent; }
  .flexTable .inactive {
    display: none;
    color: #888888; }
    .flexTable .inactive a {
      color: #888888; }

.requiredField {
  color: #ecb643;
  margin-left: 5px; }

textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #d9d7d7;
  resize: none;
  height: 75px;
  color: #817e7e;
  font-size: 12px; }

:disabled {
  background: #f8f8f8; }

input {
  display: block;
  padding: 9px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #d9d7d7;
  margin-bottom: 2px;
  float: right;
  color: #817e7e; }
  input[type="submit"] {
    line-height: 0; }
  input[type="checkbox"] {
    position: relative;
    margin: 12px 0 0 2px;
    width: 10px; }
    input[type="checkbox"]:before {
      content: '';
      background: #fff;
      border: 1px #d9d7d7 solid;
      color: white;
      position: absolute;
      width: 13px;
      height: 13px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
    input[type="checkbox"]:checked {
      position: relative; }
      input[type="checkbox"]:checked:before {
        border: none;
        background: url("../images/icon_checked.png");
        position: absolute;
        width: 15px;
        height: 15px;
        /* on retina, use image that's scaled by 2, size should be of the small version */ }
        @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 1.5) {
          input[type="checkbox"]:checked:before {
            background: url("../images/icon_checked@2x.png") no-repeat;
            background-size: 15px 15px;
            background-position: auto;
            background-color: "transparent"; } }

.selectArrows {
  position: relative;
  background: url(../images/select_arrow.png) no-repeat right 13px center white;
  background-size: 17px 10px;
  width: 100%;
  /* on retina, use image that's scaled by 2, size should be of the small version */ }
  @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 1.5) {
    .selectArrows {
      background: url("../images/select_arrow@2x.png") no-repeat;
      background-size: 17px 10px;
      background-position: right 13px center;
      background-color: #fff; } }
  .selectArrows select {
    height: 40px;
    padding: 10px;
    font-size: 11px;
    box-sizing: border-box;
    background: transparent;
    border: 1px solid #d9d7d7;
    color: #817e7e;
    position: relative;
    margin-bottom: 3px;
    width: 100%;
    border-radius: 0;
    -moz-border-radius: 0;
    /* Firefox */
    -khtml-border-radius: 0;
    -webkit-border-radius: 0;
    /* Safari & Chrome  */
    appearance: none;
    -webkit-appearance: none;
    /* Safari & Chrome  */
    -moz-appearance: none;
    /* Firefox */ }

.errors > * {
  margin-top: 0; }

.info, .alert, .error {
  padding: 10px 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: 5px 5px 0 5px; }
  .info a, .alert a, .error a {
    color: #fff;
    font-weight: bold; }

.info {
  background: #76c145; }

.alert {
  background: #ecb643; }

.error {
  background: #d6464f; }

.closeError {
  float: right;
  margin-right: 7px; }
  .closeError:hover {
    color: #000; }

.modalErrors .error {
  margin: 0; }

.loadingIcon {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 24px;
  width: 24px;
  background: url("../images/icon_loading.gif");
  margin: auto;
  /* on retina, use image that's scaled by 2, size should be of the small version */ }
  @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 1.5) {
    .loadingIcon {
      background: url("../images/icon_loading@2x.gif") no-repeat;
      background-size: 24px 24px;
      background-position: auto;
      background-color: "transparent"; } }

/* Specific Classes */
header {
  background: #fff;
  width: 100%;
  padding: 5px 15px; }
  header .container12 {
    justify-content: space-between;
    align-items: center;
    position: relative;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */ }
    header .container12 .logoContainer {
      flex: 1;
      /* NEW, Spec - Firefox, Chrome, Opera */
      -webkit-box-flex: 1;
      /* OLD - iOS 6-, Safari 3.1-6 */
      -webkit-flex: 1;
      /* Safari 6.1+. iOS 7.1+, BB10 */
      -ms-flex: 1;
      /* IE 10 */ }
      header .container12 .logoContainer .logo {
        background: url("../images/logo_webiq.png") no-repeat;
        width: 125px;
        height: 41px;
        background-size: 125px 41px;
        display: block;
        /* on retina, use image that's scaled by 2, size should be of the small version */ }
        @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 1.5) {
          header .container12 .logoContainer .logo {
            background: url("../images/logo_webiq@2x.png") no-repeat;
            background-size: 125px 41px;
            background-position: auto;
            background-color: "transparent"; } }
    header .container12 .loggedIn {
      float: right;
      align-items: center;
      text-align: right;
      justify-content: flex-end;
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
      display: flex;
      /* NEW, Spec - Firefox, Chrome, Opera */
      flex: 1;
      /* NEW, Spec - Firefox, Chrome, Opera */
      -webkit-box-flex: 1;
      /* OLD - iOS 6-, Safari 3.1-6 */
      -webkit-flex: 1;
      /* Safari 6.1+. iOS 7.1+, BB10 */
      -ms-flex: 1;
      /* IE 10 */ }
      header .container12 .loggedIn .userIcon {
        background: url("../images/users/default_icon.jpg");
        background-size: 30px 30px;
        height: 30px;
        width: 30px;
        /* on retina, use image that's scaled by 2, size should be of the small version */ }
        @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 1.5) {
          header .container12 .loggedIn .userIcon {
            background: url("../images/users/default_icon@2x.jpg") no-repeat;
            background-size: 30px 30px;
            background-position: auto;
            background-color: "transparent"; } }
      header .container12 .loggedIn span {
        padding: 0 0 0 10px;
        font-size: 13px; }

.columnWrapper {
  min-height: -webkit-calc(100% - 51px);
  min-height: -moz-calc(100% - 51px);
  min-height: calc(100% - 51px);
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */ }
  .columnWrapper .draggable {
    height: auto;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */ }
  .columnWrapper .column {
    padding-top: 10px;
    border-right: 1px solid #fff;
    border-top: none;
    border-bottom: none;
    box-sizing: border-box;
    padding-bottom: 80px; }
    .columnWrapper .column .filterSelect {
      margin-bottom: 5px; }
    .columnWrapper .column:first-child {
      border-left: 1px solid #fff; }
    .columnWrapper .column h2 {
      font-weight: 600;
      font-size: 14px;
      text-align: center;
      margin: 13px 0; }
    .columnWrapper .column .statusColor {
      width: 10px;
      height: 10px;
      background: #d6464f;
      color: #fff;
      overflow: hidden;
      margin-right: 5px;
      display: inline-block;
      border-radius: 50%;
      -moz-border-radius: 50%;
      /* Firefox */
      -khtml-border-radius: 50%;
      -webkit-border-radius: 50%;
      /* Safari & Chrome  */ }
    .columnWrapper .column .statusBacklog {
      background: #d6464f; }
    .columnWrapper .column .statusTodo {
      background: #79BBDB; }
    .columnWrapper .column .statusDoing {
      background: #d07cdc; }
    .columnWrapper .column .statusDone {
      background: #9fc72f; }
    .columnWrapper .column .statusWOA {
      background: #ef952c; }
    .columnWrapper .column .columnSubtext {
      color: #9a9898;
      text-align: center;
      cursor: pointer; }
      .columnWrapper .column .columnSubtext .fa {
        margin: 0 3px; }
      .columnWrapper .column .columnSubtext .editFirstDay {
        display: none; }
        .columnWrapper .column .columnSubtext .editFirstDay span {
          display: block;
          margin-bottom: 5px;
          cursor: default; }
        .columnWrapper .column .columnSubtext .editFirstDay input {
          text-align: center;
          width: 140px;
          margin: 0 auto;
          display: block;
          float: none;
          cursor: pointer; }
        .columnWrapper .column .columnSubtext .editFirstDay .hide {
          height: 15px;
          width: 15px;
          margin: 5px auto 0 auto;
          background: url("../images/icon_close.svg");
          background-size: 15px;
          transition: transform 0.4s 0s, visibility 0s 0s; }
          .columnWrapper .column .columnSubtext .editFirstDay .hide:hover {
            transition: transform 0.4s 0s, visibility 0s 0s;
            transform: scale(1.2); }
      .columnWrapper .column .columnSubtext:hover {
        color: #817e7e; }
    .columnWrapper .column .addTaskBtn {
      width: 100%;
      margin-bottom: 5px; }
  .columnWrapper .filterColumn {
    margin-right: 0;
    padding: 5px 0 0 5px;
    border: none; }

.task {
  border: 1px solid #d9d7d7;
  background: #fff;
  width: 96%;
  margin: 0 auto 10px auto;
  height: auto;
  cursor: move; }
  .task:last-child {
    margin-bottom: 0; }
  .task .mainView {
    padding: 5px; }
  .task .title {
    margin: 0 0 10px 0; }
    .task .title .taskName {
      font-weight: bold; }
    .task .title .companyName {
      font-size: 11px; }
  .task .leftSpan {
    color: #9797a9; }
  .task .rightSpan {
    float: right; }
  .task .attributes {
    justify-content: space-between;
    cursor: default;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */ }
    .task .attributes .fa {
      cursor: default; }
    .task .attributes .timeSpend {
      color: #ecb643; }
    .task .attributes .initials {
      font-weight: 600; }
    .task .attributes .difficulty {
      float: left;
      font-weight: bold;
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
      display: flex;
      /* NEW, Spec - Firefox, Chrome, Opera */ }
  .task .data {
    border-top: 1px solid #eee;
    padding: 5px;
    display: none;
    background: white; }
    .task .data div {
      margin-bottom: 3px; }
    .task .data .taskType {
      font-style: italic; }
    .task .data .description {
      clear: both;
      margin: 10px 0 0 0; }
    .task .data .taskIcons {
      overflow: hidden;
      margin-bottom: 0; }
      .task .data .taskIcons div {
        margin-bottom: 0;
        float: right;
        display: block;
        color: #30346a;
        margin-left: 10px; }
        .task .data .taskIcons div:hover {
          color: #ecb643; }
  .task .showOrHide {
    background: #ebebeb;
    color: #9a9898;
    padding: 5px 0;
    cursor: pointer;
    text-align: center;
    font-size: 9px; }
    .task .showOrHide:hover {
      color: #817e7e; }

.noDrag > div {
  cursor: default;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ }

.modalContainer {
  overflow: auto; }
  .modalContainer .overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    position: fixed;
    overflow-y: auto; }
    .modalContainer .overlay .modal {
      background: #fff;
      margin: 10px auto 0 auto;
      padding: 20px;
      overflow: hidden;
      width: 560px; }
      .modalContainer .overlay .modal .header {
        margin-bottom: 10px;
        overflow: hidden;
        height: 19px; }
        .modalContainer .overlay .modal .header .hideModal {
          float: right;
          height: 15px;
          width: 15px;
          margin: 0 auto;
          background: url("../images/icon_close.svg");
          background-size: 15px;
          transition: transform 0.4s 0s, visibility 0s 0s; }
          .modalContainer .overlay .modal .header .hideModal:hover {
            transition: transform 0.4s 0s, visibility 0s 0s;
            transform: scale(1.2); }
        .modalContainer .overlay .modal .header h2 {
          float: left;
          font-size: 16px;
          font-weight: 600; }
      .modalContainer .overlay .modal .addEpic {
        text-decoration: underline; }
      .modalContainer .overlay .modal .text {
        margin: 14px 0;
        display: block; }
      .modalContainer .overlay .modal .noEpic {
        color: #d6464f; }
        .modalContainer .overlay .modal .noEpic a {
          color: #d6464f; }
      .modalContainer .overlay .modal p {
        clear: both; }
      .modalContainer .overlay .modal form h2 {
        font-size: 14px;
        font-weight: 600;
        margin: 20px 0 10px 0; }
        .modalContainer .overlay .modal form h2 span {
          font-size: 12px; }
      .modalContainer .overlay .modal form .onlyShowIfAssigneeIsYou, .modalContainer .overlay .modal form .onlyShowAfterProjectSelected {
        display: none; }
      .modalContainer .overlay .modal .deleteTaskName {
        display: block;
        margin: 20px 0 10px 0;
        font-style: italic;
        font-weight: 600;
        font-size: 12px; }

/* SELECT2 OVERWRITE */
.select2-container {
  width: 100% !important; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #30346a;
  color: #fff; }
.select2-container--default .select2-results > .select2-results__options {
  width: 100% !important; }

.select2-dropdown {
  border: 1px solid #d9d7d7 !important;
  border-radius: 0;
  -moz-border-radius: 0;
  /* Firefox */
  -khtml-border-radius: 0;
  -webkit-border-radius: 0;
  /* Safari & Chrome  */ }

.select2-search__field {
  margin-bottom: 5px !important;
  border: 1px solid #d9d7d7 !important;
  background: #fff url("../images/select2.png") no-repeat 100% -22px;
  border-radius: 0;
  -moz-border-radius: 0;
  /* Firefox */
  -khtml-border-radius: 0;
  -webkit-border-radius: 0;
  /* Safari & Chrome  */ }

.select2Arrows {
  margin-bottom: 2px;
  width: 100%;
  float: right;
  background: url(../images/select_arrow.png) no-repeat right 13px center white;
  background-size: 17px 10px;
  /* on retina, use image that's scaled by 2, size should be of the small version */ }
  @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 1.5) {
    .select2Arrows {
      background: url("../images/select_arrow@2x.png") no-repeat;
      background-size: 17px 10px;
      background-position: right 13px center;
      background-color: #fff; } }
  .select2Arrows .select2-container--default .select2-selection--single {
    border: 1px solid #d9d7d7;
    height: 40px;
    padding: 10px;
    font-size: 11px;
    box-sizing: border-box;
    background: transparent;
    position: relative;
    border-radius: 0;
    -moz-border-radius: 0;
    /* Firefox */
    -khtml-border-radius: 0;
    -webkit-border-radius: 0;
    /* Safari & Chrome  */
    appearance: none;
    -webkit-appearance: none;
    /* Safari & Chrome  */
    -moz-appearance: none;
    /* Firefox */ }
    .select2Arrows .select2-container--default .select2-selection--single .select2-selection__rendered {
      padding-left: 0;
      color: #817e7e;
      line-height: normal; }
    .select2Arrows .select2-container--default .select2-selection--single .select2-selection__arrow {
      display: none; }
  .select2Arrows .select2-results__option--highlighted {
    background-color: #30346a; }

/* Mobile */
@media only screen and (max-width: 767px) {
  header .column2 {
    width: 140px; }

  .overlay .modal {
    width: 420px; }

  .columnWrapper {
    flex-direction: column; }
    .columnWrapper .draggable {
      height: auto;
      flex-direction: column; }
    .columnWrapper .column2 {
      min-height: 300px;
      padding-bottom: 20px;
      border: 1px white solid;
      border-top: none; }
      .columnWrapper .column2 h2 {
        margin-top: 0; } }
@media only screen and (max-width: 960px) and (min-width: 767px) {
  .columnWrapper .column h2 {
    font-size: 11px; }

  .addTask, .columnSubtext {
    font-size: 10px; }

  .task .attributes {
    font-size: 11px; }
    .task .attributes .estimatedTime {
      min-width: 43px; }
    .task .attributes .timeSpend {
      min-width: 43px; } }

/*# sourceMappingURL=planboard.css.map */
