//================================================================================
// Imports
//================================================================================
@import './fonts.css';
@import './_variables.scss';
@import './_functions.scss';

//================================================================================
// General classes
//================================================================================
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: $text-font-family;

  &:focus {
    outline: none;
  }
}

::-webkit-scrollbar {
  @include size(10px);

  &-track {
    background-color: #D4D4D4;
  }
  &-thumb {
    background-color: #2e3165;
  }
}

body, html {
  color: $color-blue;
  font-size: 14px;
  height: 100%;
  background: #eee;
  letter-spacing: 0.3px;
  -webkit-appearance: none;
}

a {
  text-decoration: none;
  color: $color-blue;
}

h2 {
  float: left;
  background-color: white;
  padding: 10px 15px;
  font-weight: 600;
  font-size: 16px;
}

h3 {
  padding-top: 20px;
  font-weight: 600;
}

p {
  margin: 10px 0;
}

.btn {
  display: block;
  background: $color-blue;
  border: 0;
  color: #fff;
  font-weight: 400;
  text-align: center;
  font-size: 13px;
  box-sizing: border-box;
  padding: 5px 15px;

  @include size(30px, 120px);

  i:hover {
    color: #fff;
  }

  &:hover {
    background: $color-yellow;
    cursor: pointer;
  }
}

.fa {
  cursor: pointer;

  &:hover {
    color: $color-yellow;
  }
}

.clearFloat {
  clear: both;
}

.fileUploadContainer {
  position: relative;
  overflow: hidden;

  input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    cursor: pointer;
    opacity: 0;

    @include size(100%);
  }
}

.flexTable {
  width: 100%;

  .row {
    width: 100%;
    @include display-flex();

    .cell {
      @include flex(1);
      @include display-flex();
    }

    .column {
      flex-direction: column;
    }

    .bigIcon {
      @include flex(0 0 25px);
    }

    .icon {
      @include flex(0 0 20px);
    }

    .flex1 {
      @include flex(1);
    }

    .flex5 {
      @include flex(5);
    }
  }

  .alignBaseline {
    align-items: baseline;
  }

  a.clickRow {
    width: 100%;
    @include display-flex();

    .cell:hover {
      text-decoration: underline;
    }
  }

  .head-row {
    margin-top: 10px;
    font-weight: 600;

    .cell {
      padding-bottom: 10px;
      margin: 0 10px;
    }
  }

  .body-row {
    .cell {
      background: transparent;
      padding: 10px;
    }
    .cell_right {
      margin-right: 10px;
    }
  }

  .inactive {
    display: none;
    color: darken($color-grey-light, 40%);

    a {
      color: darken($color-grey-light, 40%);

    }
  }

  .activity {
    align-items: center;

    .icon {
      @include size(20px);
    }

    .icon_create {
      background: url('../images/icon_create.png');

      @include at2x('../images/icon_create@2x.png', 20px, 20px);
    }

    .icon_message_create {
      background: url('../images/icon_message_create.png');

      @include at2x('../images/icon_message_create@2x.png', 20px, 20px);
    }

    .icon_change_status {
      background: url('../images/icon_edit.png');

      @include at2x('../images/icon_edit@2x.png', 20px, 20px);
    }

    .icon_status_done {
      background: url('../images/icon_done.png');

      @include at2x('../images/icon_done@2x.png', 20px, 20px);
    }

    .icon_delete {
      background: url('../images/icon_delete.png');

      @include at2x('../images/icon_delete@2x.png', 20px, 20px);
    }
  }
}

.alignWithEarny {
  padding: 0 0 15px 0;
}

.errors > * {
  margin-top: 0;
}

.info, .alert, .error {
  padding: 10px 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: 7px 0;

  &:first-child {
    margin-top: 0;
  }

  a {
    color: #fff;
    font-weight: bold;
  }
}

.info {
  background: #76c145;
}

.alert {
  background: $color-yellow;
}

.error {
  background: $color-red;
}

.closeError {
  float: right;
  padding: 2px 10px;

  &:hover {
    color: #000;
  }
}

input {
  display: block;
  padding: 9px;
  box-sizing: border-box;
  border: 1px solid $color-grey-middle;
  margin-bottom: 2px;
  color: darken($color-grey-dark, 10%);

  @include size(40px, 55%);

  &[type="text"], &[type="number"], &[type="tel"], &[type="time"], &[type="date"], &[type="email"] {
    height: 40px;
    box-sizing: border-box;
  }

  &[type="submit"] {
    @extend .btn;
  }

  &[type="checkbox"] {
    float: left;
  }

  &.forCheckbox {
    margin: 3px 10px 0 0;
    float: left;
    clear: both;
    width: 10px;
  }

  &[type="checkbox"] {
    position: relative;

    @include size(14px);

    &:before {
      content: '';
      background: #fff;
      border: 1px $color-grey-middle solid;
      color: white;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      @include size(13px);

    }

    &:checked {
      position: relative;

      &:before {
        border: none;
        background: url('../images/icon_checked.png');
        position: absolute;

        @include size(15px);
        @include at2x('../images/icon_checked@2x.png', 15px, 15px);
      }
    }
  }

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset;
  }
}

.selectArrows {
  position: relative;
  background: url("../images/select_arrow.png") no-repeat right 13px center white;
  background-size: 17px 10px;

  @include at2x('../images/select_arrow@2x.png', 17px, 10px, right 13px center, #fff);

  select {
    padding: 10px;
    font-size: 11px;
    box-sizing: border-box;
    background: transparent;
    border: 1px solid $color-grey-middle;
    position: relative;
    margin-bottom: 2px;
    color: darken($color-grey-dark, 10%);

    @include size(40px, 55%);
    @include appearance(none);
    @include border-radius(0);
  }
}

/* Select2 Restyle */
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $color-blue !important;
  color: white;
}

.select2-dropdown {
  @include border-radius(0);
}

.select2-search__field {
  height: auto !important;
  min-height: 26px;
  padding: 4px 20px 4px 5px;
  outline: 0;
  font-size: 1em;
  border: 1px solid $color-grey-middle;
  box-shadow: none;
  background: #fff url('../images/select2.png') no-repeat 100% -22px;

  @include border-radius(0);
}

.select2Arrows {
  float: right;
  background: url("../images/select_arrow.png") no-repeat right 13px center white;
  background-size: 17px 10px;

  @include at2x('../images/select_arrow@2x.png', 17px, 10px, right 13px center, #fff);

  .select2-container {
    width: 305px !important;

    .select2-container--default {
      .select2-container--open {
        position: absolute;
        left: 573px;
        top: 322px;
      }
    }
  }

  .select2-dropdown {
    .select2-dropdown--below {
      margin-left: 12px !important;
    }
  }

  .select2-container--open {
    .select2-dropdown {
      left: 15px !important;
    }
  }

  .select2-container--default {
    .select2-selection--single {
      border: 1px solid $color-grey-middle;
      height: 40px;
      padding: 10px;
      font-size: 11px;
      box-sizing: border-box;
      background: transparent;
      position: relative;
      margin-bottom: 3px;

      @include appearance(none);
      @include border-radius(0);

      .select2-selection__rendered {
        padding-left: 0;
        color: darken($color-grey-dark, 10%);
        line-height: normal;
      }

      .select2-selection__arrow {
        display: none;
      }
    }

    .select2-container--open {
      left: 389px !important;
    }
  }

  .select2-results__option--highlighted {
    background-color: $color-blue;
  }

  .select2-results {
    font-size: 12px;;
  }

  .select2-hidden-accessible {
    height: 40px;
    padding: 10px;
    font-size: 11px;
    box-sizing: border-box;
    background: transparent;
    border: 1px solid #d2d2d2;
    position: relative;
    margin-bottom: 3px;
    margin-left: 5%;

    @include appearance(none);
    @include border-radius(0);
  }
}

.exitFormTop {
  float: right;
  margin-top: 2px;

  .save {
    float: left;
    margin-right: 10px;
  }

  .cancel {
    background: $color-red;
    float: right;

    &:hover {
      background: darken ($color-red, 15%);
    }
  }

  .btn {
    float: left;
    clear: none;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

textarea {
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid $color-grey-middle;
  resize: none;
  color: darken($color-grey-dark, 10%);

  @include size(163px, 100%);
}

:disabled {
  background: rgba(162, 162, 162, 0.27);
  cursor: default;
}

.clear {
  clear: both;
}

.center {
  text-align: center;
}

.italic {
  font-style: italic;
  text-indent: 4px;
}

//================================================================================
// Lay-out
//================================================================================

.wrapper {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 0 50px 0;
}

.left8column {
  float: left;
  clear: both;
  width: 751px;
}

.right4column {
  float: right;
  width: 376px;
}

.columnWhiteBackground {
  background: #fff;
  overflow: auto;
  float: left;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 15px;
  width: 100%;

  select {
    width: 65%;
  }

  input {
    &[type="text"], &[type="date"], &[type="time"], &[type="tel"], &[type="email"] {
      @include size(40px, 65%);
    }
  }

  .propertiesHeader {
    overflow: hidden;
    padding-bottom: 15px;

    .btn {
      float: right;
    }

    h3 {
      float: left;
    }
  }

  h3 {
    padding-bottom: 10px;
  }

  .btn {
    float: right;
  }

  .taskStatus {
    clear: both;
    font-weight: 600;
    margin: 13px 0 15px 0;
  }

  ul {
    list-style: none;
    padding: 0;
    clear: both;
    margin: 5px 0 0 0;
    overflow: hidden;

    .underlineTask:hover {
      text-decoration: underline;
    }

    li {
      label.forCheckbox {
        cursor: pointer;
        font-weight: 400;
      }
    }

    .taskAssignee {
      font-style: italic;
      font-weight: 600;
    }
  }

  .btn, &:not(input[type="submit"]) {
    float: right;
  }

  .title {
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 28px;
    line-height: 1;
  }

  .subtitle {
    margin-bottom: 20px;
    font-size: 20px;
  }

  label {
    float: left;
    width: 35%;
    margin: 9px 0 10px 0;
    clear: both;
    font-size: 13px;

    &.forCheckbox {
      clear: none;
      font-weight: 600;
      width: 80%;
      margin-bottom: 20px;
      margin-top: 0;
    }
  }

  .contentLeft {
    width: 50%;
    float: left;
  }

  .contentRight {
    float: right;
    padding-left: 4%;
    box-sizing: border-box;
    width: 50%;
  }

  .requiredField {
    color: $color-yellow;
    padding-left: 3px;
  }

  .columns {
    padding-top: 10px;

    ul {
      padding: 0;
      list-style: none;
    }

    span {
      width: 130px;
      display: inline-block;
      color: darken(#CFCFD7, 20%);
    }

    .editInfo {
      float: right;
    }

    li {
      margin: 0;
    }
  }

  .description {
    color: darken(#CFCFD7, 20%);
    margin: 10px 0;
  }

  .leftCol {
    float: left;
    width: 55%;
  }

  .rightCol {
    margin-left: 1%;
    float: left;
    width: 44%;
  }

  p {
    clear: both;
  }

  .toggleThis{
    display:none;
  }

  .epicHeader {
    border-bottom: 1px solid $color-grey-middle;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 5px;

    @include display-flex();
  }

  .epic {
    padding-bottom: 10px;
    padding-top: 25px;
    border-bottom: 1px dashed $color-grey-middle;

    &:last-child {
      border: 0;
    }
  }

  li {
    margin-left: 10px;
  }

  h3 {
    padding-top: 0;
    margin-top: 15px;
    font-weight: 600;
    clear: both;
    font-size: 16px;

    &:first-child {
      margin-top: 0;
    }
  }

  h4 {
    padding-top: 0;
    margin-top: 0;
    float: left;
    clear: both;
    font-size: 14px;
    font-weight: 600;

    &:first-child {
      margin-top: 0;
    }
  }
}

.login {
  background: url('../images/background_login.png') $color-blue;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  height: 100%;

  @include display-flex();

  .error {
    font-size: 14px;
  }

  .formContainer {
    width: 365px;

    .logo {
      background: url('../images/logo_white.png');
      margin: 0 auto 45px auto;

      @include size(67px, 229px);
      @include at2x('../images/logo_white@2x.png', 229px, 67px);
    }

    @include placeholder($color-grey-dark, italic);

    .user {
      background: url('../images/icon_user.png') no-repeat right 13px center white;
      margin-top: 2px;
      position: absolute;

      @include size(50px);
      @include at2x('../images/icon_user@2x.png', 16px, 19px, right 13px center, #fff);
    }

    .password {
      background: url('../images/icon_lock.png') no-repeat right 13px center white;
      margin-top: 2px;
      position: absolute;

      @include size(50px);
      @include at2x('../images/icon_lock@2x.png', 16px, 19px, right 13px center, #fff);
    }

    input {
      border: none;
      font-size: 16px;
      font-weight: 400;

      @include size(52px, 100%);

      &[type='email'], &[type='password'] {
        margin-bottom: 20px;
        padding-left: 65px;
      }

      &[type='submit'] {
        background: $color-yellow;
        color: white;

        &:hover {
          background: darken($color-yellow, 10%);
        }
      }
    }
  }
}

.loadingIcon {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 24px;
  background: url("../images/icon_loading.gif") no-repeat;
  margin: auto;

  @include size(24px);
  @include at2x('../images/icon_loading@2x.gif', 24px, 24px);
}

.headerWrapper {
  background: #fff;
  align-items: center;
  justify-content: space-around;

  @include display-flex();

  header {
    padding: 0 10px 20px 10px;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;

    @include size(75px, 1140px);
    @include display-flex();

    .logo {
      background: url("../images/logo_webiq.png");
      min-width: 184px;

      @include size(61px, 184px);
      @include at2x('../images/logo_webiq@2x.png', 184px, 61px);
    }
  }
}

.loggedIn {
  align-items: center;

  @include display-flex();

  .user {
    background: url('../images/users/default_icon.jpg');

    @include size(34px);
    @include at2x('../images/users/default_icon@2x.jpg', 34px, 34px);
  }

  span {
    padding: 5px 15px;
    font-size: 16px;
  }

  .icon {
    margin-left: 15px;
    display: block;

    @include size(20px);
  }

  .userIcons {
    position: relative;
    align-items: center;
    border-left: 1px solid $color-grey-dark;
    overflow: hidden;
    width: 81px;

    @include display-flex();

    .alertNumber {
      position: absolute;
      width: 15px;
      height: 15px;
      padding: 1px;
      border: 1px solid #fff;
      text-align: center;
      font-size: 11px;
      font-weight: 700;
      margin-left: 27px;
      background: $color-red;
      color: #fff;
      top: 0;
      overflow: hidden;
      pointer-events: none;

      @include size(15px);
      @include border-radius(50%);
    }

    .settings {
      background: url('../images/icon_settings_sprite.png') 0 0;

      @include size(26px, 27px);
      @include at2x('../images/icon_settings_sprite@2x.png', 26px, 52px);

      &:hover {
        background: url('../images/icon_settings_sprite.png') 0 -26px;

        @include at2x('../images/icon_settings_sprite@2x.png', 26px, 52px, 0 -26px);
      }
    }

    .alerts {
      background: url('../images/icon_alert_sprite.png') 0 0;

      @include size(26px);
      @include at2x('../images/icon_alert_sprite@2x.png', 26px, 52px);

      &:hover {
        background: url('../images/icon_alert_sprite.png') 0 -26px;

        @include at2x('../images/icon_alert_sprite@2x.png', 26px, 52px, 0 -26px);
      }
    }

    .logout {
      background: url('../images/icon_logout_sprite.png') 0 0;

      @include size(26px, 26px);
      @include at2x('../images/icon_logout_sprite@2x.png', 25px, 52px);

      &:hover {
        background: url('../images/icon_logout_sprite.png') 0 -26px;

        @include at2x('../images/icon_logout_sprite@2x.png', 25px, 52px, 0 -26px);
      }
    }
  }
}

nav {
  font-weight: 300;
  min-width: 500px;

  @include display-flex();

  ul {
    list-style: none;
    padding-left: 0;
    align-items: center;
    justify-content: center;
    height: 51px;

    @include display-flex();
    @include flex(1);

    li {
      align-items: center;
      justify-content: center;
      font-size: 16px;
      margin: 5px 10px;
      position: relative;

      @include display-flex();

      &:first-child {
        padding: 5px 0;
      }

      &.selected {
        background: $color-blue;
        color: #fff;
        padding: 5px 10px;
      }

      &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $color-blue;
        transition: width 0s ease, background .5s ease;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        background: $color-blue;
        transition: width .5s ease;

        @include size(2px, 0);
      }

      &:hover {
        &:before {
          width: 100%;
          background: $color-blue;
          transition: width .5s ease;
        }

        &:after {
          width: 100%;
          background: transparent;
          transition: all 0s ease;
        }
      }
    }
  }
}

.search {
  border: 2px solid $color-grey-light;
  max-width: 1140px;
  margin: -20px auto 10px auto;
  background: #eee;
  box-sizing: border-box;

  @include size(40px, 100%);
  @include display-flex();
  @include placeholder(#cecece);

  .searchArrows {
    max-width: 150px;
    border-right: 2px $color-grey-light solid;
    background: url("../images/select_arrow.png") no-repeat;
    background-size: 17px 10px;
    background-color: #fff;
    background-position: right 13px center;
    box-sizing: border-box;
    height: 40px;
    max-height: 40px;

    @include flex(1);

    select {
      width: 151px;
    }

    @include at2x('../images/select_arrow@2x.png', 17px, 10px, right 13px center, #fff);
  }

  select {
    border: 0;
    color: #cecece;
    height: 40px;
    background: transparent;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    padding: 0 15px;

    &:focus {
      outline: 0
    }

    @include appearance(none);
  }

  input[type="search"] {
    color: #aaa;
    width: 100%;
    border: 0;
    font-size: 16px;
    font-weight: 300;
    box-sizing: border-box;

    @include appearance(none);

    &::-webkit-search-cancel-button {
      content: "\f057";
      font-family: FontAwesome, serif;
      font-style: normal;
      font-weight: normal;
      position: relative;
      cursor: pointer;
    }

    &:focus {
      @include placeholder(transparent, '', true);
    }
  }

  .searchCancel {
    z-index: 999;
    position: relative;

    @include flex(1);

    #search_results {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 40px;
      left: -2px;
      border: 2px solid $color-grey-light;
      padding: 10px;
      background-color: #fff;
      min-height: 20px;
      max-height: 380px;
      overflow-y: auto;
      box-sizing: border-box;
      width: calc(100% + 4px);

      .loadingIcon {
        position: relative;
      }

      * {
        height: 40px;
        min-height: 40px;
        align-items: center;

        @include flex(1);
        @include display-flex();
      }

      a:hover:not(.no_hover) {
        text-decoration: underline;
      }

      a {
        .cell:nth-last-child(1) {
          justify-content: flex-end;
        }
      }

      .search_result_title {
        max-height: 20px;
        font-weight: bold;
        text-transform: capitalize;
      }

      .search_result_child, .search_result_nothing {
        text-indent: 10px;
      }
    }
  }
}

.sidebar {
  float: right;
  width: 100%;

  #sidebarTickets {
    display: block;
  }

  #toggle-sidebarTickets:checked ~ #sidebarTickets {
    display: none;
  }

  .block {
    margin-bottom: 10px;
    background: #fff;

    .bar {
      padding: 10px;
      background: $color-yellow;
      color: #fff;
      height: 20px;
      cursor: pointer;

      i {
        float: left;
        font-size: 20px;
        margin-left: 20px;

        &:hover {
          color: #fff;
        }
      }

      span {
        margin-left: 20px;
      }
      .number {
        float: right;
        line-height: 17px;
        border: 1px solid #fff;
        text-align: center;
        font-size: 11px;
        font-weight: 700;
        margin-right: 20px;
        box-sizing: border-box;

        @include size(20px);
        @include border-radius(30px);
      }

      &:hover {
        background: darken($color-yellow, 10%);
      }
    }
    .flexTable {
      .cell {
        padding: 10px 30px;
      }
    }
  }
}

.subContent {
  clear: both;
  background: #fff;
  margin-bottom: 10px;
  border: 1px solid #dcdcdc;
  border-top: 0;
  position: relative;

  .menu {
    border-top: 1px solid #dcdcdc;
    background: #eee;
    font-weight: 600;

    a {
      color: #595959;
    }

    ul {
      list-style: none;
      font-size: 0;

      li {
        border-right: 1px solid #dcdcdc;
        height: 20px;
        display: inline-block;
        padding: 10px 30px;
        font-size: 14px;

        &:not(&.selected) {
          border-bottom: 1px solid #dcdcdc;
        }

        &.selected {
          background: #fff;
          color: $color-blue;
        }

        &:hover {
          &:not(.selected) {
            background: #e5e5e5;
            transition: all 0.3s ease 0s;
          }
        }
      }
    }
  }

  .addNew {
    padding-top: 9px;
    padding-bottom: 9px;
    position: absolute;
    right: 18px;
  }
}

.ticketDetailPage {
  .handlingTime {
    float: right;
    font-size: 13px;
  }

  input[type="checkbox"] {
    cursor: default;
  }

  .uploadFileBtn {
    margin-top: 20px;
  }

  .uploadedFilesTicket {
    margin-top: 20px;
  }

  .iconPaperclip {
    background: url('../images/icon_paperclip.png');
    margin-right: 10px;
    margin-top: 0;
    float: left;
    margin-bottom: 10px;

    @include size(20px, 18px);
    @include at2x('../images/icon_paperclip@2x.png', 18px, 20px);
  }

  .filesUploaded {
    clear: both;
    float: none;
    overflow: auto;

    .file {
      float: left;
      margin-right: 5px;
      flex-direction: column;
      align-items: center;

      @include display-flex();

      &:first-child {
        clear: both;
      }
    }

    .uploadedImage {
      max-width: 100%;
    }

    .delete {
      background: url('../images/icon_delete.png') no-repeat;
      cursor: pointer;

      @include size(20px);
      @include at2x('../images/icon_delete@2x.png', 19px, 19px);
    }
  }
}

.statusOverview {
  font-size: 18px;

  .statusTitle {
    font-size: 28px;
    margin-bottom: 10px;
    text-transform: capitalize;
  }

  progress {
    margin-bottom: 10px;
    color: $color-yellow;
    background: $color-grey-light;

    @include size(20px, 100%);
    @include border-radius(30px);
    @include appearance(none);
    @include progressBar($color-yellow, 30px);
  }
}

.ticketMessages {
  width: 100%;
  float: left;

  .flexTable {
    .cell:first-child {
      font-weight: 300;

      @include flex(3);
    }

    .cell:last-child {

      @include flex(1);
    }
  }

  .uploadedFilesMessage {
    padding: 10px 5px 7px 10px;
  }

  .uploadedFilesAddingMessage {
    display: none;
    float: none;
    clear: both;
    padding: 10px;
    border-top: 1px solid darken($color-grey-light, 10%);

    .messageUploadedFileIcons {
      clear: both;
      margin-top: 20px;

      img {
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .message {
    padding: 0;
    background: #fff;
    margin-top: 10px;
    overflow: auto;
    position: relative;

    .flexTable {
      span {
        display: inline-block;
        color: darken(#CFCFD7, 20%);
        margin-right: 5px;
      }

      .messageIcon {
        background: url('../images/icon_message_add.png');

        @include size(35px, 32px);
        @include at2x('../images/icon_message_add@2x.png', 32px, 35px);
      }

      .replyMessage {
        background: url('../images/icon_message_reply.png');

        @include at2x('../images/icon_message_reply@2x.png', 32px, 35px);
      }

      .originalMessage {
        background: url('../images/icon_message_original.png');

        @include at2x('../images/icon_message_original@2x.png', 32px, 35px);
      }

      .intern {
        background: url('../images/icon_message_intern.png');

        @include at2x('../images/icon_message_intern@2x.png', 32px, 35px);
      }

      .row:first-child {
        font-size: 18px;
        height: 35px;
        overflow: hidden;
        border-bottom: 1px solid darken($color-grey-light, 10%);

        .senderInfo, .date {
          padding: 5px 10px;
          min-width: 170px;
          font-weight: 300;
        }
      }

      .cell:last-child {
        flex-direction: column;
        text-align: right;
      }
    }

    textarea {
      border: none;
      border-bottom: 1px solid darken($color-grey-light, 10%);
      font-size: 14px;
    }
  }

  .editMessageContent {
    display: none;

    form {
      overflow: hidden;
    }

    textarea {
      height: 100px;
    }

    .exitForm {
      float: right;
      margin-top: -4px;
      height: 30px;

      .btn {
        margin: 0 5px 10px 0;
        float: right;
        height: 30px;
      }
      .cancel {
        background: $color-red;
        margin: 0;
      }
    }
  }

  .messageContent {
    padding: 10px;
  }

  .edit {
    float: right;
    margin: -10px 10px 10px 10px;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .addMessage {
    .addIcon {
      background: url('../images/icon_message_add.png');

      @include size(35px, 32px);
      @include at2x('../images/icon_message_add@2x.png', 32px, 35px);
    }

    .fileUpload {
      @include size(30px, 100px);
    }

    .internCheckbox {
      padding-left: 8px;
      padding-top: 3px;
      overflow: hidden;
      float: left;

      @include size(23px, 155px);

      .forCheckbox {
        margin-top: 0;
        font-weight: 400;
      }
    }

    .addFileToMessage {
      float: left;
      border-left: 1px solid #d5d5d5;
      border-right: 1px solid #d5d5d5;
      padding: 6px 20px 0 20px;
      font-size: 13px;
      cursor: pointer;
      height: 24px;
      margin-top: -4px
    }

    .btn {
      margin-top: -4px;
      margin-bottom: 0;
      float: right;
    }
  }
}

.addTicket {
  .columnWhiteBackground {
    input {
      &[type="text"], &[type="number"], &[type="tel"], &[type="time"], &[type="date"], &[type="email"] {
        width: 100%;
      }
    }

    .flexTable {
      .cell {
        padding: 1px 5px 1px 0;

        &:first-child {
          @include flex(0 0 200px);
        }
      }
    }
  }

  .properties {
    .addContactToTicket {
      text-decoration: underline;
      float: right;
      cursor: pointer;
      font-size: 13px;
    }

    .select2Arrows {
      width: 65%;
      .select2-container {
        width: 100% !important;
      }
    }

    .text {
      float: left;
      height: 40px;
      display: block;
      padding: 10px 0;
      box-sizing: border-box;
      font-size: 13px;
    }

    .flexTable {
      .cell:first-child {
        @include flex(11);
      }
    }
  }

  .ticketAddContact {
    display: none;

    input {
      &[type="text"], &[type="number"], &[type="tel"], &[type="time"], &[type="date"], &[type="email"] {
        width: 65%;
      }
    }

    select {
      width: 65%;
    }

    .exitFormTop {
      margin: 10px 0 0 0;

      .save {
        float: left;

        &:disabled {
          background: darken($color-grey-light, 30%);
        }
      }
    }
  }
}

.set {
}

.list {
  .columnWhiteBackground {
    padding: 10px;
  }

  .checkbox {
    margin: 12px 5px 0 14px;
  }

  .checkboxLabel {
    font-size: 12px;
    float: left;
    padding-top: 10px;
    padding-left: 5px;
  }

  .btn {
    float: right;
    width: 150px;
    margin: 2px 0 0 10px;
  }

  .cell {
    align-items: center;

    @include display-flex();

    .title {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 14px;
      margin-bottom: 0;
    }

    .subtext {
      font-size: 12px;
      margin-left: 10px;
      border-left: 1px solid $color-grey-dark;
      padding-left: 10px;
    }

    .imported {
      font-size: 10px;
      width: 123px;
    }

    .editIcon {
      background: url('../images/icon_edit_sprite.png') 0 -20px;

      @include size(20px);
      @include at2x('../images/icon_edit_sprite@2x.png', 20px, 40px, 0 -20px);

      &:hover {
        background: url('../images/icon_edit_sprite.png') 0 0;

        @include at2x('../images/icon_edit_sprite@2x.png', 20px, 40px, 0 0);
      }
    }

    .importIcon {
      background: url('../images/icon_import.png') no-repeat;
      background-size: 14px 20px;

      @include size(25px, 17px);
      @include at2x('../images/icon_import@2x.png', 14px, 20px);
    }

    .text {
      color: #6c6c6c;
      font-size: 10px;
      clear: both;
      text-transform: uppercase;
    }
  }
}

.addEmployee {
  .left8column {
    .flexTable {
      background: #fff;

      .cell {
        padding: 2px 5px 2px 0;

        &:first-child {
          @include flex(0 0 200px);
        }

        label {
          width: auto;
        }

        input {
          width: 100%;
        }

        .selectArrows {
          width: 100%;

          select {
            width: 100%;
          }
        }
      }
    }
  }
  .right4column {
    .flexTable {
      .cell:first-child {
        @include flex(11);
      }
    }
  }

  .save:disabled {
    background: darken($color-grey-light, 30%);
  }
}

.taskDetailPage {
  .onlyShowIfAssigneeIsYou {
    display: none;
  }

  .showEstimatedTime {
    display: none;
  }

  .taskStatus {
    font-size: 28px;
  }
}