@import url(./fonts.css);
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Open Sans", sans-serif; }
  *:focus {
    outline: none; }

::-webkit-scrollbar {
  width: 10px;
  height: 10px; }
  ::-webkit-scrollbar-track {
    background-color: #D4D4D4; }
  ::-webkit-scrollbar-thumb {
    background-color: #2e3165; }

body, html {
  color: #30346a;
  font-size: 14px;
  height: 100%;
  background: #eee;
  letter-spacing: 0.3px;
  -webkit-appearance: none; }

a {
  text-decoration: none;
  color: #30346a; }

h2 {
  float: left;
  background-color: white;
  padding: 10px 15px;
  font-weight: 600;
  font-size: 16px; }

h3 {
  padding-top: 20px;
  font-weight: 600; }

p {
  margin: 10px 0; }

.btn, input[type="submit"] {
  display: block;
  background: #30346a;
  border: 0;
  color: #fff;
  font-weight: 400;
  text-align: center;
  font-size: 13px;
  box-sizing: border-box;
  padding: 5px 15px;
  width: 120px;
  height: 30px; }
  .btn i:hover, input[type="submit"] i:hover {
    color: #fff; }
  .btn:hover, input[type="submit"]:hover {
    background: #ecb643;
    cursor: pointer; }

.fa {
  cursor: pointer; }
  .fa:hover {
    color: #ecb643; }

.clearFloat {
  clear: both; }

.fileUploadContainer {
  position: relative;
  overflow: hidden; }
  .fileUploadContainer input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    cursor: pointer;
    opacity: 0;
    width: 100%;
    height: 100%; }

.flexTable {
  width: 100%; }
  .flexTable .row {
    width: 100%;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */ }
    .flexTable .row .cell {
      flex: 1;
      /* NEW, Spec - Firefox, Chrome, Opera */
      -webkit-box-flex: 1;
      /* OLD - iOS 6-, Safari 3.1-6 */
      -webkit-flex: 1;
      /* Safari 6.1+. iOS 7.1+, BB10 */
      -ms-flex: 1;
      /* IE 10 */
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
      display: flex;
      /* NEW, Spec - Firefox, Chrome, Opera */ }
    .flexTable .row .column {
      flex-direction: column; }
    .flexTable .row .bigIcon {
      flex: 0 0 25px;
      /* NEW, Spec - Firefox, Chrome, Opera */
      -webkit-box-flex: 0 0 25px;
      /* OLD - iOS 6-, Safari 3.1-6 */
      -webkit-flex: 0 0 25px;
      /* Safari 6.1+. iOS 7.1+, BB10 */
      -ms-flex: 0 0 25px;
      /* IE 10 */ }
    .flexTable .row .icon {
      flex: 0 0 20px;
      /* NEW, Spec - Firefox, Chrome, Opera */
      -webkit-box-flex: 0 0 20px;
      /* OLD - iOS 6-, Safari 3.1-6 */
      -webkit-flex: 0 0 20px;
      /* Safari 6.1+. iOS 7.1+, BB10 */
      -ms-flex: 0 0 20px;
      /* IE 10 */ }
    .flexTable .row .flex1 {
      flex: 1;
      /* NEW, Spec - Firefox, Chrome, Opera */
      -webkit-box-flex: 1;
      /* OLD - iOS 6-, Safari 3.1-6 */
      -webkit-flex: 1;
      /* Safari 6.1+. iOS 7.1+, BB10 */
      -ms-flex: 1;
      /* IE 10 */ }
    .flexTable .row .flex5 {
      flex: 5;
      /* NEW, Spec - Firefox, Chrome, Opera */
      -webkit-box-flex: 5;
      /* OLD - iOS 6-, Safari 3.1-6 */
      -webkit-flex: 5;
      /* Safari 6.1+. iOS 7.1+, BB10 */
      -ms-flex: 5;
      /* IE 10 */ }
  .flexTable .alignBaseline {
    align-items: baseline; }
  .flexTable a.clickRow {
    width: 100%;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */ }
    .flexTable a.clickRow .cell:hover {
      text-decoration: underline; }
  .flexTable .head-row {
    margin-top: 10px;
    font-weight: 600; }
    .flexTable .head-row .cell {
      padding-bottom: 10px;
      margin: 0 10px; }
  .flexTable .body-row .cell {
    background: transparent;
    padding: 10px; }
  .flexTable .body-row .cell_right {
    margin-right: 10px; }
  .flexTable .inactive {
    display: none;
    color: #888888; }
    .flexTable .inactive a {
      color: #888888; }
  .flexTable .activity {
    align-items: center; }
    .flexTable .activity .icon {
      width: 20px;
      height: 20px; }
    .flexTable .activity .icon_create {
      background: url("../images/icon_create.png");
      /* on retina, use image that's scaled by 2, size should be of the small version */ }
      @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 1.5) {
        .flexTable .activity .icon_create {
          background: url("../images/icon_create@2x.png") no-repeat;
          background-size: 20px 20px;
          background-position: auto;
          background-color: "transparent"; } }
    .flexTable .activity .icon_message_create {
      background: url("../images/icon_message_create.png");
      /* on retina, use image that's scaled by 2, size should be of the small version */ }
      @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 1.5) {
        .flexTable .activity .icon_message_create {
          background: url("../images/icon_message_create@2x.png") no-repeat;
          background-size: 20px 20px;
          background-position: auto;
          background-color: "transparent"; } }
    .flexTable .activity .icon_change_status {
      background: url("../images/icon_edit.png");
      /* on retina, use image that's scaled by 2, size should be of the small version */ }
      @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 1.5) {
        .flexTable .activity .icon_change_status {
          background: url("../images/icon_edit@2x.png") no-repeat;
          background-size: 20px 20px;
          background-position: auto;
          background-color: "transparent"; } }
    .flexTable .activity .icon_status_done {
      background: url("../images/icon_done.png");
      /* on retina, use image that's scaled by 2, size should be of the small version */ }
      @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 1.5) {
        .flexTable .activity .icon_status_done {
          background: url("../images/icon_done@2x.png") no-repeat;
          background-size: 20px 20px;
          background-position: auto;
          background-color: "transparent"; } }
    .flexTable .activity .icon_delete {
      background: url("../images/icon_delete.png");
      /* on retina, use image that's scaled by 2, size should be of the small version */ }
      @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 1.5) {
        .flexTable .activity .icon_delete {
          background: url("../images/icon_delete@2x.png") no-repeat;
          background-size: 20px 20px;
          background-position: auto;
          background-color: "transparent"; } }

.alignWithEarny {
  padding: 0 0 15px 0; }

.errors > * {
  margin-top: 0; }

.info, .alert, .error {
  padding: 10px 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: 7px 0; }
  .info:first-child, .alert:first-child, .error:first-child {
    margin-top: 0; }
  .info a, .alert a, .error a {
    color: #fff;
    font-weight: bold; }

.info {
  background: #76c145; }

.alert {
  background: #ecb643; }

.error {
  background: #d6464f; }

.closeError {
  float: right;
  padding: 2px 10px; }
  .closeError:hover {
    color: #000; }

input {
  display: block;
  padding: 9px;
  box-sizing: border-box;
  border: 1px solid #d9d7d7;
  margin-bottom: 2px;
  color: #817e7e;
  width: 55%;
  height: 40px; }
  input[type="text"], input[type="number"], input[type="tel"], input[type="time"], input[type="date"], input[type="email"] {
    height: 40px;
    box-sizing: border-box; }
  input[type="checkbox"] {
    float: left; }
  input.forCheckbox {
    margin: 3px 10px 0 0;
    float: left;
    clear: both;
    width: 10px; }
  input[type="checkbox"] {
    position: relative;
    width: 14px;
    height: 14px; }
    input[type="checkbox"]:before {
      content: '';
      background: #fff;
      border: 1px #d9d7d7 solid;
      color: white;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 13px;
      height: 13px; }
    input[type="checkbox"]:checked {
      position: relative; }
      input[type="checkbox"]:checked:before {
        border: none;
        background: url("../images/icon_checked.png");
        position: absolute;
        width: 15px;
        height: 15px;
        /* on retina, use image that's scaled by 2, size should be of the small version */ }
        @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 1.5) {
          input[type="checkbox"]:checked:before {
            background: url("../images/icon_checked@2x.png") no-repeat;
            background-size: 15px 15px;
            background-position: auto;
            background-color: "transparent"; } }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset; }

.selectArrows {
  position: relative;
  background: url("../images/select_arrow.png") no-repeat right 13px center white;
  background-size: 17px 10px;
  /* on retina, use image that's scaled by 2, size should be of the small version */ }
  @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 1.5) {
    .selectArrows {
      background: url("../images/select_arrow@2x.png") no-repeat;
      background-size: 17px 10px;
      background-position: right 13px center;
      background-color: #fff; } }
  .selectArrows select {
    padding: 10px;
    font-size: 11px;
    box-sizing: border-box;
    background: transparent;
    border: 1px solid #d9d7d7;
    position: relative;
    margin-bottom: 2px;
    color: #817e7e;
    width: 55%;
    height: 40px;
    appearance: none;
    -webkit-appearance: none;
    /* Safari & Chrome  */
    -moz-appearance: none;
    /* Firefox */
    border-radius: 0;
    -moz-border-radius: 0;
    /* Firefox */
    -khtml-border-radius: 0;
    -webkit-border-radius: 0;
    /* Safari & Chrome  */ }

/* Select2 Restyle */
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #30346a !important;
  color: white; }

.select2-dropdown {
  border-radius: 0;
  -moz-border-radius: 0;
  /* Firefox */
  -khtml-border-radius: 0;
  -webkit-border-radius: 0;
  /* Safari & Chrome  */ }

.select2-search__field {
  height: auto !important;
  min-height: 26px;
  padding: 4px 20px 4px 5px;
  outline: 0;
  font-size: 1em;
  border: 1px solid #d9d7d7;
  box-shadow: none;
  background: #fff url("../images/select2.png") no-repeat 100% -22px;
  border-radius: 0;
  -moz-border-radius: 0;
  /* Firefox */
  -khtml-border-radius: 0;
  -webkit-border-radius: 0;
  /* Safari & Chrome  */ }

.select2Arrows {
  float: right;
  background: url("../images/select_arrow.png") no-repeat right 13px center white;
  background-size: 17px 10px;
  /* on retina, use image that's scaled by 2, size should be of the small version */ }
  @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 1.5) {
    .select2Arrows {
      background: url("../images/select_arrow@2x.png") no-repeat;
      background-size: 17px 10px;
      background-position: right 13px center;
      background-color: #fff; } }
  .select2Arrows .select2-container {
    width: 305px !important; }
    .select2Arrows .select2-container .select2-container--default .select2-container--open {
      position: absolute;
      left: 573px;
      top: 322px; }
  .select2Arrows .select2-dropdown .select2-dropdown--below {
    margin-left: 12px !important; }
  .select2Arrows .select2-container--open .select2-dropdown {
    left: 15px !important; }
  .select2Arrows .select2-container--default .select2-selection--single {
    border: 1px solid #d9d7d7;
    height: 40px;
    padding: 10px;
    font-size: 11px;
    box-sizing: border-box;
    background: transparent;
    position: relative;
    margin-bottom: 3px;
    appearance: none;
    -webkit-appearance: none;
    /* Safari & Chrome  */
    -moz-appearance: none;
    /* Firefox */
    border-radius: 0;
    -moz-border-radius: 0;
    /* Firefox */
    -khtml-border-radius: 0;
    -webkit-border-radius: 0;
    /* Safari & Chrome  */ }
    .select2Arrows .select2-container--default .select2-selection--single .select2-selection__rendered {
      padding-left: 0;
      color: #817e7e;
      line-height: normal; }
    .select2Arrows .select2-container--default .select2-selection--single .select2-selection__arrow {
      display: none; }
  .select2Arrows .select2-container--default .select2-container--open {
    left: 389px !important; }
  .select2Arrows .select2-results__option--highlighted {
    background-color: #30346a; }
  .select2Arrows .select2-results {
    font-size: 12px; }
  .select2Arrows .select2-hidden-accessible {
    height: 40px;
    padding: 10px;
    font-size: 11px;
    box-sizing: border-box;
    background: transparent;
    border: 1px solid #d2d2d2;
    position: relative;
    margin-bottom: 3px;
    margin-left: 5%;
    appearance: none;
    -webkit-appearance: none;
    /* Safari & Chrome  */
    -moz-appearance: none;
    /* Firefox */
    border-radius: 0;
    -moz-border-radius: 0;
    /* Firefox */
    -khtml-border-radius: 0;
    -webkit-border-radius: 0;
    /* Safari & Chrome  */ }

.exitFormTop {
  float: right;
  margin-top: 2px; }
  .exitFormTop .save {
    float: left;
    margin-right: 10px; }
  .exitFormTop .cancel {
    background: #d6464f;
    float: right; }
    .exitFormTop .cancel:hover {
      background: darken #d6464f, 15%; }
  .exitFormTop .btn, .exitFormTop input[type="submit"] {
    float: left;
    clear: none;
    margin-right: 10px; }
    .exitFormTop .btn:last-child, .exitFormTop input[type="submit"]:last-child {
      margin-right: 0; }

textarea {
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #d9d7d7;
  resize: none;
  color: #817e7e;
  width: 100%;
  height: 163px; }

:disabled {
  background: rgba(162, 162, 162, 0.27);
  cursor: default; }

.clear {
  clear: both; }

.center {
  text-align: center; }

.italic {
  font-style: italic;
  text-indent: 4px; }

.wrapper {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 0 50px 0; }

.left8column {
  float: left;
  clear: both;
  width: 751px; }

.right4column {
  float: right;
  width: 376px; }

.columnWhiteBackground {
  background: #fff;
  overflow: auto;
  float: left;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 15px;
  width: 100%; }
  .columnWhiteBackground select {
    width: 65%; }
  .columnWhiteBackground input[type="text"], .columnWhiteBackground input[type="date"], .columnWhiteBackground input[type="time"], .columnWhiteBackground input[type="tel"], .columnWhiteBackground input[type="email"] {
    width: 65%;
    height: 40px; }
  .columnWhiteBackground .propertiesHeader {
    overflow: hidden;
    padding-bottom: 15px; }
    .columnWhiteBackground .propertiesHeader .btn, .columnWhiteBackground .propertiesHeader input[type="submit"] {
      float: right; }
    .columnWhiteBackground .propertiesHeader h3 {
      float: left; }
  .columnWhiteBackground h3 {
    padding-bottom: 10px; }
  .columnWhiteBackground .btn, .columnWhiteBackground input[type="submit"] {
    float: right; }
  .columnWhiteBackground .taskStatus {
    clear: both;
    font-weight: 600;
    margin: 13px 0 15px 0; }
  .columnWhiteBackground ul {
    list-style: none;
    padding: 0;
    clear: both;
    margin: 5px 0 0 0;
    overflow: hidden; }
    .columnWhiteBackground ul .underlineTask:hover {
      text-decoration: underline; }
    .columnWhiteBackground ul li label.forCheckbox {
      cursor: pointer;
      font-weight: 400; }
    .columnWhiteBackground ul .taskAssignee {
      font-style: italic;
      font-weight: 600; }
  .columnWhiteBackground .btn, .columnWhiteBackground input[type="submit"], .columnWhiteBackground:not(input[type="submit"]) {
    float: right; }
  .columnWhiteBackground .title {
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 28px;
    line-height: 1; }
  .columnWhiteBackground .subtitle {
    margin-bottom: 20px;
    font-size: 20px; }
  .columnWhiteBackground label {
    float: left;
    width: 35%;
    margin: 9px 0 10px 0;
    clear: both;
    font-size: 13px; }
    .columnWhiteBackground label.forCheckbox {
      clear: none;
      font-weight: 600;
      width: 80%;
      margin-bottom: 20px;
      margin-top: 0; }
  .columnWhiteBackground .contentLeft {
    width: 50%;
    float: left; }
  .columnWhiteBackground .contentRight {
    float: right;
    padding-left: 4%;
    box-sizing: border-box;
    width: 50%; }
  .columnWhiteBackground .requiredField {
    color: #ecb643;
    padding-left: 3px; }
  .columnWhiteBackground .columns {
    padding-top: 10px; }
    .columnWhiteBackground .columns ul {
      padding: 0;
      list-style: none; }
    .columnWhiteBackground .columns span {
      width: 130px;
      display: inline-block;
      color: #9797a9; }
    .columnWhiteBackground .columns .editInfo {
      float: right; }
    .columnWhiteBackground .columns li {
      margin: 0; }
  .columnWhiteBackground .description {
    color: #9797a9;
    margin: 10px 0; }
  .columnWhiteBackground .leftCol {
    float: left;
    width: 55%; }
  .columnWhiteBackground .rightCol {
    margin-left: 1%;
    float: left;
    width: 44%; }
  .columnWhiteBackground p {
    clear: both; }
  .columnWhiteBackground .toggleThis {
    display: none; }
  .columnWhiteBackground .epicHeader {
    border-bottom: 1px solid #d9d7d7;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 5px;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */ }
  .columnWhiteBackground .epic {
    padding-bottom: 10px;
    padding-top: 25px;
    border-bottom: 1px dashed #d9d7d7; }
    .columnWhiteBackground .epic:last-child {
      border: 0; }
  .columnWhiteBackground li {
    margin-left: 10px; }
  .columnWhiteBackground h3 {
    padding-top: 0;
    margin-top: 15px;
    font-weight: 600;
    clear: both;
    font-size: 16px; }
    .columnWhiteBackground h3:first-child {
      margin-top: 0; }
  .columnWhiteBackground h4 {
    padding-top: 0;
    margin-top: 0;
    float: left;
    clear: both;
    font-size: 14px;
    font-weight: 600; }
    .columnWhiteBackground h4:first-child {
      margin-top: 0; }

.login {
  background: url("../images/background_login.png") #30346a;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */ }
  .login .error {
    font-size: 14px; }
  .login .formContainer {
    width: 365px; }
    .login .formContainer .logo {
      background: url("../images/logo_white.png");
      margin: 0 auto 45px auto;
      width: 229px;
      height: 67px;
      /* on retina, use image that's scaled by 2, size should be of the small version */ }
      @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 1.5) {
        .login .formContainer .logo {
          background: url("../images/logo_white@2x.png") no-repeat;
          background-size: 229px 67px;
          background-position: auto;
          background-color: "transparent"; } }
    .login .formContainer ::-webkit-input-placeholder {
      /* WebKit, Blink, Edge */
      color: #9a9898;
      font-style: italic; }
    .login .formContainer :-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: #9a9898;
      opacity: 1;
      font-style: italic; }
    .login .formContainer ::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #9a9898;
      opacity: 1;
      font-style: italic; }
    .login .formContainer :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #9a9898;
      font-style: italic; }
    .login .formContainer .user {
      background: url("../images/icon_user.png") no-repeat right 13px center white;
      margin-top: 2px;
      position: absolute;
      width: 50px;
      height: 50px;
      /* on retina, use image that's scaled by 2, size should be of the small version */ }
      @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 1.5) {
        .login .formContainer .user {
          background: url("../images/icon_user@2x.png") no-repeat;
          background-size: 16px 19px;
          background-position: right 13px center;
          background-color: #fff; } }
    .login .formContainer .password {
      background: url("../images/icon_lock.png") no-repeat right 13px center white;
      margin-top: 2px;
      position: absolute;
      width: 50px;
      height: 50px;
      /* on retina, use image that's scaled by 2, size should be of the small version */ }
      @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 1.5) {
        .login .formContainer .password {
          background: url("../images/icon_lock@2x.png") no-repeat;
          background-size: 16px 19px;
          background-position: right 13px center;
          background-color: #fff; } }
    .login .formContainer input {
      border: none;
      font-size: 16px;
      font-weight: 400;
      width: 100%;
      height: 52px; }
      .login .formContainer input[type='email'], .login .formContainer input[type='password'] {
        margin-bottom: 20px;
        padding-left: 65px; }
      .login .formContainer input[type='submit'] {
        background: #ecb643;
        color: white; }
        .login .formContainer input[type='submit']:hover {
          background: #e5a317; }

.loadingIcon {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 24px;
  background: url("../images/icon_loading.gif") no-repeat;
  margin: auto;
  width: 24px;
  height: 24px;
  /* on retina, use image that's scaled by 2, size should be of the small version */ }
  @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 1.5) {
    .loadingIcon {
      background: url("../images/icon_loading@2x.gif") no-repeat;
      background-size: 24px 24px;
      background-position: auto;
      background-color: "transparent"; } }

.headerWrapper {
  background: #fff;
  align-items: center;
  justify-content: space-around;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */ }
  .headerWrapper header {
    padding: 0 10px 20px 10px;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    width: 1140px;
    height: 75px;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */ }
    .headerWrapper header .logo {
      background: url("../images/logo_webiq.png");
      min-width: 184px;
      width: 184px;
      height: 61px;
      /* on retina, use image that's scaled by 2, size should be of the small version */ }
      @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 1.5) {
        .headerWrapper header .logo {
          background: url("../images/logo_webiq@2x.png") no-repeat;
          background-size: 184px 61px;
          background-position: auto;
          background-color: "transparent"; } }

.loggedIn {
  align-items: center;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */ }
  .loggedIn .user {
    background: url("../images/users/default_icon.jpg");
    width: 34px;
    height: 34px;
    /* on retina, use image that's scaled by 2, size should be of the small version */ }
    @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 1.5) {
      .loggedIn .user {
        background: url("../images/users/default_icon@2x.jpg") no-repeat;
        background-size: 34px 34px;
        background-position: auto;
        background-color: "transparent"; } }
  .loggedIn span {
    padding: 5px 15px;
    font-size: 16px; }
  .loggedIn .icon {
    margin-left: 15px;
    display: block;
    width: 20px;
    height: 20px; }
  .loggedIn .userIcons {
    position: relative;
    align-items: center;
    border-left: 1px solid #9a9898;
    overflow: hidden;
    width: 81px;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */ }
    .loggedIn .userIcons .alertNumber {
      position: absolute;
      width: 15px;
      height: 15px;
      padding: 1px;
      border: 1px solid #fff;
      text-align: center;
      font-size: 11px;
      font-weight: 700;
      margin-left: 27px;
      background: #d6464f;
      color: #fff;
      top: 0;
      overflow: hidden;
      pointer-events: none;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      -moz-border-radius: 50%;
      /* Firefox */
      -khtml-border-radius: 50%;
      -webkit-border-radius: 50%;
      /* Safari & Chrome  */ }
    .loggedIn .userIcons .settings {
      background: url("../images/icon_settings_sprite.png") 0 0;
      width: 27px;
      height: 26px;
      /* on retina, use image that's scaled by 2, size should be of the small version */ }
      @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 1.5) {
        .loggedIn .userIcons .settings {
          background: url("../images/icon_settings_sprite@2x.png") no-repeat;
          background-size: 26px 52px;
          background-position: auto;
          background-color: "transparent"; } }
      .loggedIn .userIcons .settings:hover {
        background: url("../images/icon_settings_sprite.png") 0 -26px;
        /* on retina, use image that's scaled by 2, size should be of the small version */ }
        @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 1.5) {
          .loggedIn .userIcons .settings:hover {
            background: url("../images/icon_settings_sprite@2x.png") no-repeat;
            background-size: 26px 52px;
            background-position: 0 -26px;
            background-color: "transparent"; } }
    .loggedIn .userIcons .alerts {
      background: url("../images/icon_alert_sprite.png") 0 0;
      width: 26px;
      height: 26px;
      /* on retina, use image that's scaled by 2, size should be of the small version */ }
      @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 1.5) {
        .loggedIn .userIcons .alerts {
          background: url("../images/icon_alert_sprite@2x.png") no-repeat;
          background-size: 26px 52px;
          background-position: auto;
          background-color: "transparent"; } }
      .loggedIn .userIcons .alerts:hover {
        background: url("../images/icon_alert_sprite.png") 0 -26px;
        /* on retina, use image that's scaled by 2, size should be of the small version */ }
        @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 1.5) {
          .loggedIn .userIcons .alerts:hover {
            background: url("../images/icon_alert_sprite@2x.png") no-repeat;
            background-size: 26px 52px;
            background-position: 0 -26px;
            background-color: "transparent"; } }
    .loggedIn .userIcons .logout {
      background: url("../images/icon_logout_sprite.png") 0 0;
      width: 26px;
      height: 26px;
      /* on retina, use image that's scaled by 2, size should be of the small version */ }
      @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 1.5) {
        .loggedIn .userIcons .logout {
          background: url("../images/icon_logout_sprite@2x.png") no-repeat;
          background-size: 25px 52px;
          background-position: auto;
          background-color: "transparent"; } }
      .loggedIn .userIcons .logout:hover {
        background: url("../images/icon_logout_sprite.png") 0 -26px;
        /* on retina, use image that's scaled by 2, size should be of the small version */ }
        @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 1.5) {
          .loggedIn .userIcons .logout:hover {
            background: url("../images/icon_logout_sprite@2x.png") no-repeat;
            background-size: 25px 52px;
            background-position: 0 -26px;
            background-color: "transparent"; } }

nav {
  font-weight: 300;
  min-width: 500px;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */ }
  nav ul {
    list-style: none;
    padding-left: 0;
    align-items: center;
    justify-content: center;
    height: 51px;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    flex: 1;
    /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-box-flex: 1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-flex: 1;
    /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: 1;
    /* IE 10 */ }
    nav ul li {
      align-items: center;
      justify-content: center;
      font-size: 16px;
      margin: 5px 10px;
      position: relative;
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
      display: flex;
      /* NEW, Spec - Firefox, Chrome, Opera */ }
      nav ul li:first-child {
        padding: 5px 0; }
      nav ul li.selected {
        background: #30346a;
        color: #fff;
        padding: 5px 10px; }
      nav ul li:before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #30346a;
        transition: width 0s ease, background .5s ease; }
      nav ul li:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        background: #30346a;
        transition: width .5s ease;
        width: 0;
        height: 2px; }
      nav ul li:hover:before {
        width: 100%;
        background: #30346a;
        transition: width .5s ease; }
      nav ul li:hover:after {
        width: 100%;
        background: transparent;
        transition: all 0s ease; }

.search {
  border: 2px solid #eee;
  max-width: 1140px;
  margin: -20px auto 10px auto;
  background: #eee;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */ }
  .search ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #cecece;
    font-style: none; }
  .search :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #cecece;
    opacity: 1;
    font-style: none; }
  .search ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #cecece;
    opacity: 1;
    font-style: none; }
  .search :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #cecece;
    font-style: none; }
  .search .searchArrows {
    max-width: 150px;
    border-right: 2px #eee solid;
    background: url("../images/select_arrow.png") no-repeat;
    background-size: 17px 10px;
    background-color: #fff;
    background-position: right 13px center;
    box-sizing: border-box;
    height: 40px;
    max-height: 40px;
    flex: 1;
    /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-box-flex: 1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-flex: 1;
    /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: 1;
    /* IE 10 */
    /* on retina, use image that's scaled by 2, size should be of the small version */ }
    .search .searchArrows select {
      width: 151px; }
    @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 1.5) {
      .search .searchArrows {
        background: url("../images/select_arrow@2x.png") no-repeat;
        background-size: 17px 10px;
        background-position: right 13px center;
        background-color: #fff; } }
  .search select {
    border: 0;
    color: #cecece;
    height: 40px;
    background: transparent;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    padding: 0 15px;
    appearance: none;
    -webkit-appearance: none;
    /* Safari & Chrome  */
    -moz-appearance: none;
    /* Firefox */ }
    .search select:focus {
      outline: 0; }
  .search input[type="search"] {
    color: #aaa;
    width: 100%;
    border: 0;
    font-size: 16px;
    font-weight: 300;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    /* Safari & Chrome  */
    -moz-appearance: none;
    /* Firefox */ }
    .search input[type="search"]::-webkit-search-cancel-button {
      content: "\f057";
      font-family: FontAwesome, serif;
      font-style: normal;
      font-weight: normal;
      position: relative;
      cursor: pointer; }
    .search input[type="search"]:focus::-webkit-input-placeholder {
      /* WebKit, Blink, Edge */
      color: transparent;
      font-style: ""; }
    .search input[type="search"]:focus:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: transparent;
      opacity: 1;
      font-style: ""; }
    .search input[type="search"]:focus::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: transparent;
      opacity: 1;
      font-style: ""; }
    .search input[type="search"]:focus:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: transparent;
      font-style: ""; }
  .search .searchCancel {
    z-index: 999;
    position: relative;
    flex: 1;
    /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-box-flex: 1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-flex: 1;
    /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: 1;
    /* IE 10 */ }
    .search .searchCancel #search_results {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 40px;
      left: -2px;
      border: 2px solid #eee;
      padding: 10px;
      background-color: #fff;
      min-height: 20px;
      max-height: 380px;
      overflow-y: auto;
      box-sizing: border-box;
      width: calc(100% + 4px); }
      .search .searchCancel #search_results .loadingIcon {
        position: relative; }
      .search .searchCancel #search_results * {
        height: 40px;
        min-height: 40px;
        align-items: center;
        flex: 1;
        /* NEW, Spec - Firefox, Chrome, Opera */
        -webkit-box-flex: 1;
        /* OLD - iOS 6-, Safari 3.1-6 */
        -webkit-flex: 1;
        /* Safari 6.1+. iOS 7.1+, BB10 */
        -ms-flex: 1;
        /* IE 10 */
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;
        /* NEW, Spec - Firefox, Chrome, Opera */ }
      .search .searchCancel #search_results a:hover:not(.no_hover) {
        text-decoration: underline; }
      .search .searchCancel #search_results a .cell:nth-last-child(1) {
        justify-content: flex-end; }
      .search .searchCancel #search_results .search_result_title {
        max-height: 20px;
        font-weight: bold;
        text-transform: capitalize; }
      .search .searchCancel #search_results .search_result_child, .search .searchCancel #search_results .search_result_nothing {
        text-indent: 10px; }

.sidebar {
  float: right;
  width: 100%; }
  .sidebar #sidebarTickets {
    display: block; }
  .sidebar #toggle-sidebarTickets:checked ~ #sidebarTickets {
    display: none; }
  .sidebar .block {
    margin-bottom: 10px;
    background: #fff; }
    .sidebar .block .bar {
      padding: 10px;
      background: #ecb643;
      color: #fff;
      height: 20px;
      cursor: pointer; }
      .sidebar .block .bar i {
        float: left;
        font-size: 20px;
        margin-left: 20px; }
        .sidebar .block .bar i:hover {
          color: #fff; }
      .sidebar .block .bar span {
        margin-left: 20px; }
      .sidebar .block .bar .number {
        float: right;
        line-height: 17px;
        border: 1px solid #fff;
        text-align: center;
        font-size: 11px;
        font-weight: 700;
        margin-right: 20px;
        box-sizing: border-box;
        width: 20px;
        height: 20px;
        border-radius: 30px;
        -moz-border-radius: 30px;
        /* Firefox */
        -khtml-border-radius: 30px;
        -webkit-border-radius: 30px;
        /* Safari & Chrome  */ }
      .sidebar .block .bar:hover {
        background: #e5a317; }
    .sidebar .block .flexTable .cell {
      padding: 10px 30px; }

.subContent {
  clear: both;
  background: #fff;
  margin-bottom: 10px;
  border: 1px solid #dcdcdc;
  border-top: 0;
  position: relative; }
  .subContent .menu {
    border-top: 1px solid #dcdcdc;
    background: #eee;
    font-weight: 600; }
    .subContent .menu a {
      color: #595959; }
    .subContent .menu ul {
      list-style: none;
      font-size: 0; }
      .subContent .menu ul li {
        border-right: 1px solid #dcdcdc;
        height: 20px;
        display: inline-block;
        padding: 10px 30px;
        font-size: 14px; }
        .subContent .menu ul li:not(.subContent .menu ul li.selected) {
          border-bottom: 1px solid #dcdcdc; }
        .subContent .menu ul li.selected {
          background: #fff;
          color: #30346a; }
        .subContent .menu ul li:hover:not(.selected) {
          background: #e5e5e5;
          transition: all 0.3s ease 0s; }
  .subContent .addNew {
    padding-top: 9px;
    padding-bottom: 9px;
    position: absolute;
    right: 18px; }

.ticketDetailPage .handlingTime {
  float: right;
  font-size: 13px; }
.ticketDetailPage input[type="checkbox"] {
  cursor: default; }
.ticketDetailPage .uploadFileBtn {
  margin-top: 20px; }
.ticketDetailPage .uploadedFilesTicket {
  margin-top: 20px; }
.ticketDetailPage .iconPaperclip {
  background: url("../images/icon_paperclip.png");
  margin-right: 10px;
  margin-top: 0;
  float: left;
  margin-bottom: 10px;
  width: 18px;
  height: 20px;
  /* on retina, use image that's scaled by 2, size should be of the small version */ }
  @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 1.5) {
    .ticketDetailPage .iconPaperclip {
      background: url("../images/icon_paperclip@2x.png") no-repeat;
      background-size: 18px 20px;
      background-position: auto;
      background-color: "transparent"; } }
.ticketDetailPage .filesUploaded {
  clear: both;
  float: none;
  overflow: auto; }
  .ticketDetailPage .filesUploaded .file {
    float: left;
    margin-right: 5px;
    flex-direction: column;
    align-items: center;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */ }
    .ticketDetailPage .filesUploaded .file:first-child {
      clear: both; }
  .ticketDetailPage .filesUploaded .uploadedImage {
    max-width: 100%; }
  .ticketDetailPage .filesUploaded .delete {
    background: url("../images/icon_delete.png") no-repeat;
    cursor: pointer;
    width: 20px;
    height: 20px;
    /* on retina, use image that's scaled by 2, size should be of the small version */ }
    @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 1.5) {
      .ticketDetailPage .filesUploaded .delete {
        background: url("../images/icon_delete@2x.png") no-repeat;
        background-size: 19px 19px;
        background-position: auto;
        background-color: "transparent"; } }

.statusOverview {
  font-size: 18px; }
  .statusOverview .statusTitle {
    font-size: 28px;
    margin-bottom: 10px;
    text-transform: capitalize; }
  .statusOverview progress {
    margin-bottom: 10px;
    color: #ecb643;
    background: #eee;
    width: 100%;
    height: 20px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    /* Firefox */
    -khtml-border-radius: 30px;
    -webkit-border-radius: 30px;
    /* Safari & Chrome  */
    appearance: none;
    -webkit-appearance: none;
    /* Safari & Chrome  */
    -moz-appearance: none;
    /* Firefox */ }
    .statusOverview progress::-webkit-progress-value {
      background: #ecb643;
      border-radius: 30px;
      -moz-border-radius: 30px;
      /* Firefox */
      -khtml-border-radius: 30px;
      -webkit-border-radius: 30px;
      /* Safari & Chrome  */ }
    .statusOverview progress::-moz-progress-bar {
      background: #ecb643;
      border-radius: 30px;
      -moz-border-radius: 30px;
      /* Firefox */
      -khtml-border-radius: 30px;
      -webkit-border-radius: 30px;
      /* Safari & Chrome  */ }
    .statusOverview progress::-webkit-progress-bar {
      background: #eee;
      color: #ecb643;
      border-radius: 30px;
      -moz-border-radius: 30px;
      /* Firefox */
      -khtml-border-radius: 30px;
      -webkit-border-radius: 30px;
      /* Safari & Chrome  */ }

.ticketMessages {
  width: 100%;
  float: left; }
  .ticketMessages .flexTable .cell:first-child {
    font-weight: 300;
    flex: 3;
    /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-box-flex: 3;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-flex: 3;
    /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: 3;
    /* IE 10 */ }
  .ticketMessages .flexTable .cell:last-child {
    flex: 1;
    /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-box-flex: 1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-flex: 1;
    /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: 1;
    /* IE 10 */ }
  .ticketMessages .uploadedFilesMessage {
    padding: 10px 5px 7px 10px; }
  .ticketMessages .uploadedFilesAddingMessage {
    display: none;
    float: none;
    clear: both;
    padding: 10px;
    border-top: 1px solid #d5d5d5; }
    .ticketMessages .uploadedFilesAddingMessage .messageUploadedFileIcons {
      clear: both;
      margin-top: 20px; }
      .ticketMessages .uploadedFilesAddingMessage .messageUploadedFileIcons img {
        margin-right: 10px; }
        .ticketMessages .uploadedFilesAddingMessage .messageUploadedFileIcons img:last-child {
          margin-right: 0; }
  .ticketMessages .message {
    padding: 0;
    background: #fff;
    margin-top: 10px;
    overflow: auto;
    position: relative; }
    .ticketMessages .message .flexTable span {
      display: inline-block;
      color: #9797a9;
      margin-right: 5px; }
    .ticketMessages .message .flexTable .messageIcon {
      background: url("../images/icon_message_add.png");
      width: 32px;
      height: 35px;
      /* on retina, use image that's scaled by 2, size should be of the small version */ }
      @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 1.5) {
        .ticketMessages .message .flexTable .messageIcon {
          background: url("../images/icon_message_add@2x.png") no-repeat;
          background-size: 32px 35px;
          background-position: auto;
          background-color: "transparent"; } }
    .ticketMessages .message .flexTable .replyMessage {
      background: url("../images/icon_message_reply.png");
      /* on retina, use image that's scaled by 2, size should be of the small version */ }
      @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 1.5) {
        .ticketMessages .message .flexTable .replyMessage {
          background: url("../images/icon_message_reply@2x.png") no-repeat;
          background-size: 32px 35px;
          background-position: auto;
          background-color: "transparent"; } }
    .ticketMessages .message .flexTable .originalMessage {
      background: url("../images/icon_message_original.png");
      /* on retina, use image that's scaled by 2, size should be of the small version */ }
      @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 1.5) {
        .ticketMessages .message .flexTable .originalMessage {
          background: url("../images/icon_message_original@2x.png") no-repeat;
          background-size: 32px 35px;
          background-position: auto;
          background-color: "transparent"; } }
    .ticketMessages .message .flexTable .intern {
      background: url("../images/icon_message_intern.png");
      /* on retina, use image that's scaled by 2, size should be of the small version */ }
      @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 1.5) {
        .ticketMessages .message .flexTable .intern {
          background: url("../images/icon_message_intern@2x.png") no-repeat;
          background-size: 32px 35px;
          background-position: auto;
          background-color: "transparent"; } }
    .ticketMessages .message .flexTable .row:first-child {
      font-size: 18px;
      height: 35px;
      overflow: hidden;
      border-bottom: 1px solid #d5d5d5; }
      .ticketMessages .message .flexTable .row:first-child .senderInfo, .ticketMessages .message .flexTable .row:first-child .date {
        padding: 5px 10px;
        min-width: 170px;
        font-weight: 300; }
    .ticketMessages .message .flexTable .cell:last-child {
      flex-direction: column;
      text-align: right; }
    .ticketMessages .message textarea {
      border: none;
      border-bottom: 1px solid #d5d5d5;
      font-size: 14px; }
  .ticketMessages .editMessageContent {
    display: none; }
    .ticketMessages .editMessageContent form {
      overflow: hidden; }
    .ticketMessages .editMessageContent textarea {
      height: 100px; }
    .ticketMessages .editMessageContent .exitForm {
      float: right;
      margin-top: -4px;
      height: 30px; }
      .ticketMessages .editMessageContent .exitForm .btn, .ticketMessages .editMessageContent .exitForm input[type="submit"] {
        margin: 0 5px 10px 0;
        float: right;
        height: 30px; }
      .ticketMessages .editMessageContent .exitForm .cancel {
        background: #d6464f;
        margin: 0; }
  .ticketMessages .messageContent {
    padding: 10px; }
  .ticketMessages .edit {
    float: right;
    margin: -10px 10px 10px 10px;
    position: absolute;
    right: 0;
    bottom: 0; }
  .ticketMessages .addMessage .addIcon {
    background: url("../images/icon_message_add.png");
    width: 32px;
    height: 35px;
    /* on retina, use image that's scaled by 2, size should be of the small version */ }
    @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 1.5) {
      .ticketMessages .addMessage .addIcon {
        background: url("../images/icon_message_add@2x.png") no-repeat;
        background-size: 32px 35px;
        background-position: auto;
        background-color: "transparent"; } }
  .ticketMessages .addMessage .fileUpload {
    width: 100px;
    height: 30px; }
  .ticketMessages .addMessage .internCheckbox {
    padding-left: 8px;
    padding-top: 3px;
    overflow: hidden;
    float: left;
    width: 155px;
    height: 23px; }
    .ticketMessages .addMessage .internCheckbox .forCheckbox {
      margin-top: 0;
      font-weight: 400; }
  .ticketMessages .addMessage .addFileToMessage {
    float: left;
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    padding: 6px 20px 0 20px;
    font-size: 13px;
    cursor: pointer;
    height: 24px;
    margin-top: -4px; }
  .ticketMessages .addMessage .btn, .ticketMessages .addMessage input[type="submit"] {
    margin-top: -4px;
    margin-bottom: 0;
    float: right; }

.addTicket .columnWhiteBackground input[type="text"], .addTicket .columnWhiteBackground input[type="number"], .addTicket .columnWhiteBackground input[type="tel"], .addTicket .columnWhiteBackground input[type="time"], .addTicket .columnWhiteBackground input[type="date"], .addTicket .columnWhiteBackground input[type="email"] {
  width: 100%; }
.addTicket .columnWhiteBackground .flexTable .cell {
  padding: 1px 5px 1px 0; }
  .addTicket .columnWhiteBackground .flexTable .cell:first-child {
    flex: 0 0 200px;
    /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-box-flex: 0 0 200px;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-flex: 0 0 200px;
    /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: 0 0 200px;
    /* IE 10 */ }
.addTicket .properties .addContactToTicket {
  text-decoration: underline;
  float: right;
  cursor: pointer;
  font-size: 13px; }
.addTicket .properties .select2Arrows {
  width: 65%; }
  .addTicket .properties .select2Arrows .select2-container {
    width: 100% !important; }
.addTicket .properties .text {
  float: left;
  height: 40px;
  display: block;
  padding: 10px 0;
  box-sizing: border-box;
  font-size: 13px; }
.addTicket .properties .flexTable .cell:first-child {
  flex: 11;
  /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-box-flex: 11;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -webkit-flex: 11;
  /* Safari 6.1+. iOS 7.1+, BB10 */
  -ms-flex: 11;
  /* IE 10 */ }
.addTicket .ticketAddContact {
  display: none; }
  .addTicket .ticketAddContact input[type="text"], .addTicket .ticketAddContact input[type="number"], .addTicket .ticketAddContact input[type="tel"], .addTicket .ticketAddContact input[type="time"], .addTicket .ticketAddContact input[type="date"], .addTicket .ticketAddContact input[type="email"] {
    width: 65%; }
  .addTicket .ticketAddContact select {
    width: 65%; }
  .addTicket .ticketAddContact .exitFormTop {
    margin: 10px 0 0 0; }
    .addTicket .ticketAddContact .exitFormTop .save {
      float: left; }
      .addTicket .ticketAddContact .exitFormTop .save:disabled {
        background: #a2a2a2; }

.list .columnWhiteBackground {
  padding: 10px; }
.list .checkbox {
  margin: 12px 5px 0 14px; }
.list .checkboxLabel {
  font-size: 12px;
  float: left;
  padding-top: 10px;
  padding-left: 5px; }
.list .btn, .list input[type="submit"] {
  float: right;
  width: 150px;
  margin: 2px 0 0 10px; }
.list .cell {
  align-items: center;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */ }
  .list .cell .title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 0; }
  .list .cell .subtext {
    font-size: 12px;
    margin-left: 10px;
    border-left: 1px solid #9a9898;
    padding-left: 10px; }
  .list .cell .imported {
    font-size: 10px;
    width: 123px; }
  .list .cell .editIcon {
    background: url("../images/icon_edit_sprite.png") 0 -20px;
    width: 20px;
    height: 20px;
    /* on retina, use image that's scaled by 2, size should be of the small version */ }
    @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 1.5) {
      .list .cell .editIcon {
        background: url("../images/icon_edit_sprite@2x.png") no-repeat;
        background-size: 20px 40px;
        background-position: 0 -20px;
        background-color: "transparent"; } }
    .list .cell .editIcon:hover {
      background: url("../images/icon_edit_sprite.png") 0 0;
      /* on retina, use image that's scaled by 2, size should be of the small version */ }
      @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 1.5) {
        .list .cell .editIcon:hover {
          background: url("../images/icon_edit_sprite@2x.png") no-repeat;
          background-size: 20px 40px;
          background-position: 0 0;
          background-color: "transparent"; } }
  .list .cell .importIcon {
    background: url("../images/icon_import.png") no-repeat;
    background-size: 14px 20px;
    width: 17px;
    height: 25px;
    /* on retina, use image that's scaled by 2, size should be of the small version */ }
    @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 1.5) {
      .list .cell .importIcon {
        background: url("../images/icon_import@2x.png") no-repeat;
        background-size: 14px 20px;
        background-position: auto;
        background-color: "transparent"; } }
  .list .cell .text {
    color: #6c6c6c;
    font-size: 10px;
    clear: both;
    text-transform: uppercase; }

.addEmployee .left8column .flexTable {
  background: #fff; }
  .addEmployee .left8column .flexTable .cell {
    padding: 2px 5px 2px 0; }
    .addEmployee .left8column .flexTable .cell:first-child {
      flex: 0 0 200px;
      /* NEW, Spec - Firefox, Chrome, Opera */
      -webkit-box-flex: 0 0 200px;
      /* OLD - iOS 6-, Safari 3.1-6 */
      -webkit-flex: 0 0 200px;
      /* Safari 6.1+. iOS 7.1+, BB10 */
      -ms-flex: 0 0 200px;
      /* IE 10 */ }
    .addEmployee .left8column .flexTable .cell label {
      width: auto; }
    .addEmployee .left8column .flexTable .cell input {
      width: 100%; }
    .addEmployee .left8column .flexTable .cell .selectArrows {
      width: 100%; }
      .addEmployee .left8column .flexTable .cell .selectArrows select {
        width: 100%; }
.addEmployee .right4column .flexTable .cell:first-child {
  flex: 11;
  /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-box-flex: 11;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -webkit-flex: 11;
  /* Safari 6.1+. iOS 7.1+, BB10 */
  -ms-flex: 11;
  /* IE 10 */ }
.addEmployee .save:disabled {
  background: #a2a2a2; }

.taskDetailPage .onlyShowIfAssigneeIsYou {
  display: none; }
.taskDetailPage .showEstimatedTime {
  display: none; }
.taskDetailPage .taskStatus {
  font-size: 28px; }

/*# sourceMappingURL=style.css.map */
