/* Fonts */

// Average
@font-face {
  font-family: 'Average';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Average-Regular.ttf) format('ttf');
}

// PT Serif
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/PT_Serif-Web-Regular.ttf) format('ttf');
}