/* MOBILE */

@media only screen and (max-width: 1000px) {
  .navBar {
    .menuItems {
      float: left;
    }
  }

  .share, .noMobile {
    display: none !important;
  }

  .sidebar {
    float: none !important;
    clear: both;
    width: 100%;

    img {
      max-width: 100px;
    }

    div {
      width: 300px;
      margin: 0 auto;
    }
  }

  .logo {
    float: none !important;
    margin: 0 auto !important;
  }

  .wrapper {
    width: 100%;
  }

  .blogLovin {
    float: none !important;
    margin-bottom: 15px;
  }

  .mobile {
    text-align: center !important;
    display: block !important;
  }

  .container {
    width: 100%;

    .content {
      width: 92%;
      margin: 4%;
    }
  }

  .bloglovin-widget-follow-btn {
    margin: 0 auto !important;
    display: block !important;
    width: 148px !important;
  }

  .container {
    .main {
      article {
        width: 100%;
        margin-right: 0;
        float: none;
        clear: both;
        height: auto;
      }
    }
    .full {
      article {
        width: 94%;
        margin-bottom: 20px;
      }
    }
  }

  .pageSelector {
    width: 100%;
  }

  footer {
    .footerWrapper {
      width: 96%;

      .subscribeEmail, .footerNav, .footerSocial {
        float: none !important;
        clear: both !important;
        width: 100% !important;
      }

      .footerNav, .footerSocial {
        margin: 20px 0 0 0 !important;
        padding: 2%;
        box-sizing: border-box;
      }
    }
  }

  .container .main article {
    float: none !important;

    .postFooter {
      position: static !important;
    }

    .attachment-post-thumbnail, .postText {
      float: none !important;
      width: 100% !important;
    }
  }
}

@media only screen and (max-width: 600px) {
  .navBar {
    .menuItems {
      font-size: 80% !important;
      float: none !important;
      height: 22px;
      width:350px;
      margin: 0 auto!important;
    }

    .social {
      margin: 0 auto !important;
      float: none !important;
      clear: both !important;
    }
  }
}