/* PLUGINS */
$header-font-family: 'Lato', 'Open Sans', sans-serif;
$text-color: #333;

/* YUZO RELATED POSTS */
.yuzo_related_post {
    padding: 0 !important;
    margin-top: 20px !important;

    .relatedthumb {
        text-align: center;
        width: 30.6% !important;

        &:first-child {
            padding: 0 !important;
        }

        &:nth-child(2) {
            padding: 0 4% !important;
        }

        &:last-child {
            float: right !important;
            padding: 0 !important;
        }

        .yuzo-img-wrap {
            width: 100% !important;
            height: 110px !important;
        }
        .yuzo__text--title {
            font-size: 90% !important;
            line-height: 15px !important;
            font-weight: 300 !important;
            font-family: $header-font-family;
            color:$text-color;
        }
    }
    img, .yuzo-img {
        width: 100% !important;
        height: 100% !important;
    }
}

a.button {
    background: #DEB6B5 !important;
}
