/*
Theme Name: Piixel
Theme URL: http://www.Piixel.nl
Version:1.0
Author: Sanne Peters
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
/** MIXIN **/
/* Fonts */
@font-face {
  font-family: 'Average';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Average-Regular.ttf) format("ttf"); }
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/PT_Serif-Web-Regular.ttf) format("ttf"); }
body, html {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #333;
  font-size: 13px;
  height: 100%;
  background: rgba(249, 249, 250, 0.2); }

.container {
  max-width: 1150px;
  margin: 0 auto;
  overflow: hidden;
  min-height: 64%;
  clear: both; }
  .container .content {
    float: left;
    padding-top: 20px; }
  .container .main {
    width: 100%; }
    .container .main article {
      cursor: pointer !important;
      overflow: hidden;
      position: relative;
      background: #fff;
      margin: 0 2% 20px 2%;
      width: 96%; }
      .container .main article .attachment-post-thumbnail {
        width: 50%;
        height: inherit;
        float: left; }
      .container .main article .postText {
        width: 50%;
        float: left;
        padding: 4%;
        box-sizing: border-box; }
      .container .main article h2 {
        margin-bottom: 20px;
        margin-top: 0 !important;
        font-family: 'Average', sans-serif;
        font-size: 180%; }
        .container .main article h2 a {
          text-decoration: none; }
      .container .main article p {
        padding-bottom: 0 !important; }
        .container .main article p:first-child {
          display: none; }
        .container .main article p:nth-child(3) {
          padding-bottom: 0 !important; }
      .container .main article a {
        border-bottom: none;
        color: #333 !important; }
      .container .main article .postContent img {
        display: none; }
      .container .main article .postFooter {
        position: absolute;
        bottom: 5%;
        right: 15%; }
  .container .sub {
    width: 70%; }
  .container .full {
    float: none !important;
    margin: 0 auto;
    overflow: hidden; }
    .container .full article {
      font-size: 15px !important;
      padding: 3% 4%;
      width: 810px;
      margin: 0 auto; }
      .container .full article:nth-child(even) {
        margin-right: auto !important; }

article {
  font-size: 14px;
  letter-spacing: 0.3px;
  font-weight: 300;
  margin-bottom: 25px;
  background: #fff;
  /* Inside a blog post */ }
  article:nth-child(even) {
    margin-right: 0 !important; }
  article:nth-child(odd) {
    clear: both; }
  article h1 {
    margin-top: 0;
    font-family: 'Average', sans-serif; }
    article h1 a {
      font-family: 'Average', sans-serif; }
  article a {
    color: #AB8E8D; }
    article a:hover {
      color: #333; }
  article a.bigURL {
    font-family: "Lato", "Open Sans", sans-serif;
    font-size: 130%;
    border-bottom: dotted 1px;
    font-weight: 300; }
  article .bigText {
    font-family: "Lato", "Open Sans", sans-serif;
    font-weight: 300 !important;
    font-size: 130%; }
  article li {
    padding-bottom: 15px; }
    article li strong {
      font-family: "Lato", "Open Sans", sans-serif;
      font-size: 105%; }
    article li a {
      border-bottom: dotted 1px; }
      article li a img {
        border: none;
        vertical-align: top; }
  article ul {
    padding: 0;
    list-style: inside url("./images/bullet_heart.png"); }
  article ol {
    padding: 0 15px;
    margin-bottom: 0; }
    article ol:last-child {
      padding-bottom: 0;
      margin-bottom: 0; }
    article ol li {
      padding-bottom: 25px; }
    article ol strong {
      font-family: Georgia, 'Times New Roman', serif;
      font-style: italic;
      letter-spacing: 0.5px;
      font-size: 105%; }
  article p {
    padding-bottom: 7px; }
    article p a {
      border-bottom: dotted 1px; }
      article p a img {
        border: none;
        vertical-align: top; }
  article .readMoreWrapper .readMore {
    margin: 20px auto 0 auto; }
  article .size-large, article .size-full {
    width: 100%;
    height: 100%; }
  article .dateContainer {
    overflow: hidden;
    text-align: center;
    margin-bottom: 10px; }
    article .dateContainer .date {
      position: relative;
      display: inline-block;
      text-transform: uppercase;
      font-family: Lato, sans-serif;
      color: #333;
      font-size: 80%;
      letter-spacing: 2px;
      line-height: 10px; }
      article .dateContainer .date a {
        color: #333; }
      article .dateContainer .date:before {
        margin-right: 25px;
        right: 100%; }
      article .dateContainer .date:after {
        left: 100%;
        margin-left: 25px; }
      article .dateContainer .date:before, article .dateContainer .date:after {
        content: "";
        position: absolute;
        top: 49%;
        width: 9999%; }
  article .followMe {
    border: 1px #f5f4f1 dotted;
    border-radius: 0;
    margin: 20px 0 10px 0;
    font-weight: 300;
    text-decoration: none !important;
    text-align: center; }
    article .followMe .followButton {
      margin-top: 10px; }
  article .postEmoticons {
    margin: 20px 0;
    clear: both; }
  article table {
    width: 100%;
    text-align: center; }
  article td {
    vertical-align: top; }
  article .colomTable3 td {
    width: 33%; }
  article .colomTable2 td {
    width: 50%; }

.otherPosts h2 {
  margin-top: 50px; }

/* View comments */
.comment .comments-title {
  margin-top: 50px; }
.comment .commentsHeader {
  font-size: 160%; }
.comment .comment-list {
  list-style: none;
  padding: 0; }
.comment li {
  padding-top: 10px;
  padding-bottom: 15px;
  overflow: hidden; }
  .comment li a {
    border-bottom: 0; }
  .comment li:not(.bypostauthor) {
    padding-bottom: 0; }
.comment .depth-2, .comment .depth-3 {
  padding-left: 6%; }
.comment .comment-body {
  overflow: hidden;
  border-bottom: dotted 1px #ededeb;
  position: relative; }
  .comment .comment-body .comment-author {
    margin-top: 2%; }
    .comment .comment-body .comment-author img {
      border-radius: 50%;
      float: left;
      margin: 0 12px 0 0; }
    .comment .comment-body .comment-author .fn {
      font-size: 90%;
      font-weight: 400;
      text-transform: uppercase; }
      .comment .comment-body .comment-author .fn a {
        color: #333; }
    .comment .comment-body .comment-author .says {
      display: none; }
  .comment .comment-body p a {
    color: #bea8ab;
    border-bottom: 1px dotted;
    font-size: small; }
  .comment .comment-body p:first-letter {
    text-transform: capitalize; }
  .comment .comment-body .comment-meta.commentmetadata {
    float: right;
    margin-top: -18px;
    font-size: 80%;
    text-transform: uppercase;
    display: none; }
    .comment .comment-body .comment-meta.commentmetadata a {
      color: #888;
      letter-spacing: 1px; }
  .comment .comment-body .reply {
    font-family: "Lato", "Open Sans", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 80%;
    position: absolute;
    bottom: 5px;
    right: 0; }
    .comment .comment-body .reply a {
      color: #333; }
.comment .children {
  padding: 0; }
.comment .bypostauthor {
  background: #FCFCFB;
  padding-bottom: 0 !important; }
  .comment .bypostauthor .reply {
    margin-left: 10% !important; }

/* Place comment */
.comment-respond h3 {
  font-size: 160%; }
.comment-respond .comment-notes {
  display: none; }
  .comment-respond .comment-notes .required {
    display: none; }
.comment-respond .comment-form-url {
  margin-right: 0 !important; }
.comment-respond p {
  float: left;
  margin-right: 5%;
  width: 30%; }

/* Share article */
.share {
  position: fixed;
  left: 0;
  top: 218px;
  z-index: 999;
  text-align: center; }
  .share span {
    font-size: 10px;
    vertical-align: top;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Lato", "Open Sans", sans-serif;
    font-weight: 700;
    margin-left: 5px; }
  .share ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .share ul li {
      font-size: 30px;
      border-radius: 7px;
      margin-left: -10px;
      padding: 5px 10px 5px 15px;
      color: #fff;
      border: none;
      cursor: pointer; }
      .share ul li:hover {
        opacity: 0.8; }
  .share .facebook {
    background: #3B5998; }
  .share .twitter {
    background: #4099FF; }
  .share .gplus {
    background: #dd4b39; }

/* PAGESELECTOR (next/prev) */
.pageSelector {
  font-family: "Lato", "Open Sans", sans-serif;
  font-size: 130%;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 5%;
  clear: both;
  width: 100%; }
  .pageSelector .next_page {
    float: right; }
  .pageSelector .prev_page {
    float: left; }
  .pageSelector span {
    font-size: 90%;
    padding: 0 4px; }

.jr-insta-slider {
  list-style: none; }

footer {
  background: #F5F4F1;
  padding: 20px 0 10px 0; }
  footer .footerWrapper {
    max-width: 1150px;
    margin: 0 auto;
    overflow: hidden; }
    footer .footerWrapper ul {
      list-style: none;
      padding: 0; }
    footer .footerWrapper a {
      color: #333;
      letter-spacing: 1px; }
    footer .footerWrapper .subscribeEmail {
      width: 24%;
      height: 229px;
      overflow: hidden;
      float: left;
      background: #fff;
      -webkit-box-shadow: 0 2px 15px -10px #000;
      -moz-box-shadow: 0 2px 15px -10px #000;
      -ms-box-shadow: 0 2px 15px -10px #000; }
    footer .footerWrapper .footerNav {
      margin: 0 1.3%;
      padding: 10px 20px;
      border: 1px solid #e8e8e8;
      font-size: 13px;
      font-weight: 300;
      float: left;
      background: #fff;
      height: 231px;
      width: 37%;
      box-sizing: border-box;
      -webkit-box-shadow: 0 2px 15px -10px #000;
      -moz-box-shadow: 0 2px 15px -10px #000;
      -ms-box-shadow: 0 2px 15px -10px #000; }
    footer .footerWrapper .footerSocial {
      float: right;
      background: #fff;
      padding: 10px 20px;
      border: 1px solid #e8e8e8;
      height: 232px;
      width: 36%;
      box-sizing: border-box;
      -webkit-box-shadow: 0 2px 15px -10px #000;
      -moz-box-shadow: 0 2px 15px -10px #000;
      -ms-box-shadow: 0 2px 15px -10px #000; }
      footer .footerWrapper .footerSocial i {
        font-size: 15px; }
    footer .footerWrapper .blogNav {
      float: left;
      clear: both; }
      footer .footerWrapper .blogNav ul {
        float: left;
        margin-right: 60px; }
        footer .footerWrapper .blogNav ul:last-child {
          margin-right: 23px; }
    footer .footerWrapper .follow {
      margin: 0 auto 0 auto;
      width: 264px; }
      footer .footerWrapper .follow li {
        display: inline-block;
        margin-right: 2.0em;
        font-size: 16px; }
        footer .footerWrapper .follow li:last-child {
          margin-right: 0; }
    footer .footerWrapper .copy {
      padding: 25px 0 0 0;
      width: 192px;
      margin: 0 auto;
      display: block;
      clear: both;
      height: 20px; }
      footer .footerWrapper .copy a {
        font-weight: bold;
        margin-left: 10px; }
    footer .footerWrapper h2 {
      margin-top: 6px;
      color: #363636;
      font-weight: 400 !important;
      font-family: "Open Sans", sans-serif;
      font-size: 17px;
      text-align: center;
      margin-bottom: 33px; }

/* SIDEBAR */
.sidebar {
  padding: 3% 2%;
  width: 180px;
  float: right;
  text-align: center;
  background: white;
  font-weight: 300;
  font-size: 14px; }
  .sidebar img {
    width: 50%; }
  .sidebar a {
    margin-top: 10px;
    display: block;
    font-weight: 500;
    font-size: 13px; }
  .sidebar div {
    margin-top: 10px; }

/* PAGE: CONTACT */
.contactForm textarea {
  height: 150px; }

/* GENERAL */
h1 a, h1, h2, h3, h4, .commentsHeader, #respond h3 {
  font-family: "Lato", "Open Sans", sans-serif;
  color: #333;
  font-weight: 300 !important; }

h1 {
  font-size: 200%; }
  h1 a {
    font-family: 'Average', sans-serif;
    font-size: 80%;
    line-height: 1; }

h2 {
  font-size: 160%;
  margin: 30px 0 25px 0; }

h3 {
  font-size: 130%; }

a {
  color: #333;
  text-decoration: none;
  font-style: normal; }
  a:hover {
    color: #bea8ab !important; }
  a .source {
    font-size: 90%;
    color: #5b5a59;
    text-decoration: none;
    font-weight: bold; }

p {
  line-height: 1.5; }

strong {
  font-weight: 400; }

img {
  border: none !important; }

input[type="text"], input[type="email"], input[type="search"] {
  box-shadow: 0 1px 0 #b6b6b6;
  border: 0;
  color: #666;
  font-size: 90%;
  font-family: "Open Sans", sans-serif;
  background: transparent; }
  input[type="text"]:focus, input[type="email"]:focus, input[type="search"]:focus {
    outline: 0; }
input[type="text"], input[type="email"] {
  width: 100%;
  border-radius: 0; }
input[type="search"] {
  border-radius: 5px;
  margin: 0 auto;
  width: 200px;
  padding: 5px;
  text-align: center; }
input[type=submit] {
  margin: 10px 0; }

textarea {
  width: 98%;
  padding: 10px;
  border: 1px solid #d0d0d0;
  background-color: #fcfcfc;
  border-radius: 5px;
  margin: 10px 0 0 0;
  font-size: 90%;
  color: #666;
  font-family: "Open Sans", sans-serif; }
  textarea:focus {
    outline: 0; }

.center {
  text-align: center;
  display: block;
  margin: 0 auto; }

button, article .readMoreWrapper .readMore, input[type=submit] {
  width: 200px;
  padding: 5px 15px 3px 15px;
  text-align: center;
  letter-spacing: 1px;
  font-family: Lato, sans-serif;
  display: block;
  color: #fff;
  font-size: 12px;
  border-radius: 10px;
  border: 0;
  border-bottom: #dab2b6 2px solid;
  background: #E2C3C6;
  font-weight: 400;
  height: 30px;
  outline: none; }
  button:focus, article .readMoreWrapper .readMore:focus, input[type=submit]:focus {
    outline: none; }
  button:hover, article .readMoreWrapper .readMore:hover, input[type=submit]:hover {
    cursor: pointer;
    transition-duration: 1s;
    transition-timing-function: linear;
    background: #dfbcbf;
    border-bottom: 0; }

/* ADS */
.noMobile {
  display: block;
  text-align: center; }

.mobile {
  display: none; }

.topAD ins {
  padding-top: 20px; }

.logo2 {
  background: bottom url("./images/logo2.png") no-repeat;
  float: left;
  height: 111px;
  width: 293px;
  background-size: 300px;
  margin-left: 39%; }

/* NEW LAY-OUT */
.navBar {
  background: white;
  opacity: 0.8;
  position: fixed;
  border-bottom: 1px solid white;
  width: 100%;
  z-index: 999;
  margin: 0 !important;
  padding: 10px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1); }
  .navBar .navBarWrapper {
    max-width: 1140px;
    margin: 0 auto; }
  .navBar ul li {
    list-style: none;
    float: left; }
  .navBar .menuItems {
    float: left;
    width: auto;
    margin: 0 !important;
    padding: 0 !important;
    text-transform: uppercase;
    font-size: 95%;
    letter-spacing: 2px; }
    .navBar .menuItems li {
      display: inline-block;
      margin-right: 1.5em;
      cursor: pointer; }
      .navBar .menuItems li:last-child {
        margin: 0 !important; }
  .navBar .social {
    float: right;
    width: 195px;
    margin: 0;
    margin-right: 10px;
    padding: 0 !important;
    clear: none !important;
    font-size: 120% !important; }
    .navBar .social ul {
      list-style: none; }
    .navBar .social li {
      display: inline-block;
      margin-right: 2em; }
      .navBar .social li:last-child {
        margin-right: 0; }
      .navBar .social li a, .navBar .social li i {
        transition: all 0.2s ease;
        transition-property: all;
        transition-duration: 0.2s;
        transition-timing-function: ease;
        transition-delay: initial;
        display: block; }
        .navBar .social li a:hover, .navBar .social li i:hover {
          -webkit-transform: scale(1.2);
          -moz-transform: scale(1.2);
          -o-transform: scale(1.2);
          -ms-transform: scale(1.2);
          transform: scale(1.2);
          color: #deb6b5; }

header .wrapper {
  max-width: 1150px;
  margin: 0 auto;
  padding-bottom: 20px; }
  header .wrapper .logoContainer {
    padding-top: 60px; }
    header .wrapper .logoContainer .logo {
      background: bottom url("./images/logo.png") no-repeat;
      float: left;
      margin-left: calc(50% - 103px);
      margin-bottom: 10px;
      height: 141px;
      width: 217px;
      background-size: 217px 145px; }
    header .wrapper .logoContainer .blogLovin {
      float: right;
      margin-right: 10px; }

#searchOn input[type="search"] {
  display: block; }

/* PLUGINS */
/* YUZO RELATED POSTS */
.yuzo_related_post {
  padding: 0 !important;
  margin-top: 20px !important; }
  .yuzo_related_post .relatedthumb {
    text-align: center;
    width: 30.6% !important; }
    .yuzo_related_post .relatedthumb:first-child {
      padding: 0 !important; }
    .yuzo_related_post .relatedthumb:nth-child(2) {
      padding: 0 4% !important; }
    .yuzo_related_post .relatedthumb:last-child {
      float: right !important;
      padding: 0 !important; }
    .yuzo_related_post .relatedthumb .yuzo-img-wrap {
      width: 100% !important;
      height: 110px !important; }
    .yuzo_related_post .relatedthumb .yuzo__text--title {
      font-size: 90% !important;
      line-height: 15px !important;
      font-weight: 300 !important;
      font-family: "Lato", "Open Sans", sans-serif;
      color: #333; }
  .yuzo_related_post img, .yuzo_related_post .yuzo-img {
    width: 100% !important;
    height: 100% !important; }

a.button {
  background: #DEB6B5 !important; }

/* MOBILE */
@media only screen and (max-width: 1000px) {
  .navBar .menuItems {
    float: left; }

  .share, .noMobile {
    display: none !important; }

  .sidebar {
    float: none !important;
    clear: both;
    width: 100%; }
    .sidebar img {
      max-width: 100px; }
    .sidebar div {
      width: 300px;
      margin: 0 auto; }

  .logo {
    float: none !important;
    margin: 0 auto !important; }

  .wrapper {
    width: 100%; }

  .blogLovin {
    float: none !important;
    margin-bottom: 15px; }

  .mobile {
    text-align: center !important;
    display: block !important; }

  .container {
    width: 100%; }
    .container .content {
      width: 92%;
      margin: 4%; }

  .bloglovin-widget-follow-btn {
    margin: 0 auto !important;
    display: block !important;
    width: 148px !important; }

  .container .main article {
    width: 100%;
    margin-right: 0;
    float: none;
    clear: both;
    height: auto; }
  .container .full article {
    width: 94%;
    margin-bottom: 20px; }

  .pageSelector {
    width: 100%; }

  footer .footerWrapper {
    width: 96%; }
    footer .footerWrapper .subscribeEmail, footer .footerWrapper .footerNav, footer .footerWrapper .footerSocial {
      float: none !important;
      clear: both !important;
      width: 100% !important; }
    footer .footerWrapper .footerNav, footer .footerWrapper .footerSocial {
      margin: 20px 0 0 0 !important;
      padding: 2%;
      box-sizing: border-box; }

  .container .main article {
    float: none !important; }
    .container .main article .postFooter {
      position: static !important; }
    .container .main article .attachment-post-thumbnail, .container .main article .postText {
      float: none !important;
      width: 100% !important; } }
@media only screen and (max-width: 600px) {
  .navBar .menuItems {
    font-size: 80% !important;
    float: none !important;
    height: 22px;
    width: 350px;
    margin: 0 auto !important; }
  .navBar .social {
    margin: 0 auto !important;
    float: none !important;
    clear: both !important; } }

/*# sourceMappingURL=style.css.map */
