/*
Theme Name: Piixel
Theme URL: http://www.Piixel.nl
Version:1.0
Author: Sanne Peters
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
@import 'css/_mixin.scss';
@import 'css/_fonts.scss';

//* SCSS *//

$text-color: #333;
$text-font-family: 'Open Sans', sans-serif;

$header-color: $text-color;
$header-font-family: 'Lato', 'Open Sans', sans-serif;

$no-link-color: $text-color;
$link-hover-color: #bea8ab;

$primary-link-color: #AB8E8D;
$pink: #E2C3C6;

body, html {
  margin: 0;
  font-family: $text-font-family;
  color: $text-color;
  font-size: 13px;
  height: 100%;
  background: rgba(249, 249, 250, 0.2);
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  overflow: hidden;
  min-height: 64%;
  clear: both;

  .content {
    float: left;
    padding-top: 20px;
  }

  .main {
    width: 100%;

    article {
      cursor: pointer !important;
      overflow: hidden;
      position: relative;
      background: #fff;
      margin: 0 2% 20px 2%;
      width: 96%;

      .attachment-post-thumbnail {
        width: 50%;
        height: inherit;
        float: left;
      }

      .postText {
        width: 50%;
        float: left;
        padding: 4%;
        box-sizing: border-box;
      }

      h2 {
        margin-bottom: 20px;
        margin-top: 0 !important;
        font-family: 'Average', sans-serif;
        font-size: 180%;

        a {
          text-decoration: none;
        }
      }

      p {
        padding-bottom: 0 !important;

        &:first-child {
          display: none;
        }

        &:nth-child(3) {
          padding-bottom: 0 !important;
        }
      }
      a {
        border-bottom: none;
        color: $text-color !important;
      }

      .postContent {
        img {
          display: none;
        }
      }

      .postFooter {
        position: absolute;
        bottom: 5%;
        right: 15%;
      }
    }
  }

  .sub {
    width: 70%;
  }

  .full {
    float: none !important;
    margin: 0 auto;
    overflow: hidden;

    article {
      font-size: 15px !important;
      padding: 3% 4%;
      width: 810px;
      margin: 0 auto;

      &:nth-child(even) {
        margin-right: auto !important;
      }
    }
  }
}

article {
  font-size: 14px;
  letter-spacing: 0.3px;
  font-weight: 300;
  margin-bottom: 25px;
  background: #fff;

  &:nth-child(even) {
    margin-right: 0 !important;
  }

  &:nth-child(odd) {
    clear: both;
  }

  h1 {
    margin-top: 0;
    font-family: 'Average', sans-serif;

    a {
      font-family: 'Average', sans-serif;
    }
  }

  a {
    color: $primary-link-color;

    &:hover {
      color: $text-color;
    }
  }

  a.bigURL {
    font-family: $header-font-family;
    font-size: 130%;
    border-bottom: dotted 1px;
    font-weight: 300;
    //margin: 0 10px;
  }

  .bigText {
    font-family: $header-font-family;
    font-weight: 300 !important;
    font-size: 130%;
  }

  li {
    padding-bottom: 15px;

    strong {
      font-family: $header-font-family;
      font-size: 105%;
    }

    a {
      border-bottom: dotted 1px;

      img {
        border: none;
        vertical-align: top;
      }
    }
  }

  ul {
    padding: 0;
    list-style: inside url('./images/bullet_heart.png');
  }

  ol {
    padding: 0 15px;
    margin-bottom: 0;

    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
    }

    li {
      padding-bottom: 25px;
    }

    strong {
      font-family: Georgia, 'Times New Roman', serif;
      font-style: italic;
      letter-spacing: 0.5px;
      font-size: 105%;
    }
  }

  p {
    padding-bottom: 7px;

    a {
      border-bottom: dotted 1px;

      img {
        border: none;
        vertical-align: top;
      }
    }
  }

  .readMoreWrapper {
    .readMore {
      @extend button;
      margin: 20px auto 0 auto;
    }
  }

  .size-large, .size-full {
    width: 100%;
    height: 100%;
  }

  .dateContainer {
    overflow: hidden;
    text-align: center;
    margin-bottom: 10px;

    .date {
      position: relative;
      display: inline-block;
      text-transform: uppercase;
      font-family: Lato, sans-serif;
      color: $text-color;
      font-size: 80%;
      letter-spacing: 2px;
      line-height: 10px;

      a {
        color: $text-color;
      }

      &:before {
        margin-right: 25px;
        right: 100%;
      }

      &:after {
        left: 100%;
        margin-left: 25px;
      }

      &:before, &:after {
        content: "";
        position: absolute;
        top: 49%;
        width: 9999%;
      }
    }
  }
  .followMe {
    border: 1px rgba(245, 244, 241, 1.0) dotted;
    border-radius: 0;
    margin: 20px 0 10px 0;
    font-weight: 300;
    text-decoration: none !important;
    text-align: center;

    .followButton {
      margin-top: 10px;
    }
  }
  .postEmoticons {
    margin: 20px 0;
    clear: both;
  }

  /* Inside a blog post */
  table {
    width: 100%;
    text-align: center;
  }

  td {
    vertical-align: top;
  }

  .colomTable3 td {
    width: 33%;
  }

  .colomTable2 td {
    width: 50%;
  }
}

.otherPosts {
  h2 {
    margin-top: 50px;
  }
}

/* View comments */
.comment {
  .comments-title {
    margin-top: 50px;
  }
  .commentsHeader {
    font-size: 160%;
  }

  .comment-list {
    list-style: none;
    padding: 0;
  }

  li {
    padding-top: 10px;
    padding-bottom: 15px;
    overflow: hidden;

    a {
      border-bottom: 0;
    }

    &:not(.bypostauthor) {
      padding-bottom: 0;
    }
  }

  .depth-2, .depth-3 {
    padding-left: 6%;
  }

  .comment-body {
    overflow: hidden;
    border-bottom: dotted 1px #ededeb;
    position: relative;

    .comment-author {

      margin-top: 2%;

      img {
        //display: none;
        border-radius: 50%;
        float: left;
        margin: 0 12px 0 0;
      }

      .fn {
        font-size: 90%;
        font-weight: 400;
        text-transform: uppercase;

        a {
          color: $text-color;
        }
      }

      .says {
        display: none;
      }
    }

    p {
      a {
        color: #bea8ab;
        border-bottom: 1px dotted;
        font-size: small;
      }

      &:first-letter {
        text-transform: capitalize;
      }
    }

    .comment-meta.commentmetadata {
      float: right;
      margin-top: -18px;
      font-size: 80%;
      text-transform: uppercase;
      display: none;

      a {
        color: #888;
        letter-spacing: 1px;
      }
    }

    .reply {
      font-family: $header-font-family;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 80%;
      position: absolute;
      bottom: 5px;
      right: 0;

      a {
        color: $text-color;
      }
    }
  }

  .children {
    padding: 0;
  }

  .bypostauthor {
    background: #FCFCFB;
    padding-bottom: 0 !important;

    .reply {
      margin-left: 10% !important;
    }
  }

}

/* Place comment */
.comment-respond {
  h3 {
    font-size: 160%;
  }

  .comment-notes {
    display: none;

    .required {
      display: none;
    }
  }

  .comment-form-url {
    margin-right: 0 !important;
  }
  p {
    float: left;
    margin-right: 5%;
    width: 30%;
  }
}

/* Share article */
.share {
  position: fixed;
  left: 0;
  top: 218px;
  z-index: 999;
  text-align: center;

  span {
    font-size: 10px;
    vertical-align: top;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: $header-font-family;
    font-weight: 700;
    margin-left: 5px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      font-size: 30px;
      border-radius: 7px;
      margin-left: -10px;
      padding: 5px 10px 5px 15px;
      color: #fff;
      border: none;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .facebook {
    background: #3B5998;
  }

  .twitter {
    background: #4099FF;
  }

  .gplus {
    background: #dd4b39;
  }
}

/* PAGESELECTOR (next/prev) */
.pageSelector {
  font-family: $header-font-family;
  font-size: 130%;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 5%;
  clear: both;
  width: 100%;

  .next_page {
    float: right;
  }

  .prev_page {
    float: left;
  }

  span {
    font-size: 90%;
    padding: 0 4px;
  }
}

.jr-insta-slider {
  list-style: none;
}

footer {
  background: #F5F4F1;
  padding: 20px 0 10px 0;

  .footerWrapper {
    max-width: 1150px;
    margin: 0 auto;
    overflow: hidden;

    ul {
      list-style: none;
      padding: 0;
    }

    a {
      color: $text-color;
      letter-spacing: 1px;
    }

    .subscribeEmail {
      width: 24%;
      height: 229px;
      overflow: hidden;
      float: left;
      background: #fff;
      @include boxShadow();
    }

    .footerNav {
      margin: 0 1.3%;
      padding: 10px 20px;
      border: 1px solid #e8e8e8;
      font-size: 13px;
      font-weight: 300;
      float: left;
      background: #fff;
      height: 231px;
      width: 37%;
      box-sizing: border-box;
      @include boxShadow();
    }

    .footerSocial {
      float: right;
      background: #fff;
      padding: 10px 20px;
      border: 1px solid #e8e8e8;
      height: 232px;
      width: 36%;
      box-sizing: border-box;
      @include boxShadow();

      i {
        font-size: 15px;
      }
    }

    .blogNav {
      float: left;
      clear: both;

      ul {
        float: left;
        margin-right: 60px;

        &:last-child {
          margin-right: 23px;
        }
      }
    }

    .follow {
      margin: 0 auto 0 auto;
      width: 264px;

      li {
        display: inline-block;
        margin-right: 2.0em;
        font-size: 16px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .copy {
      padding: 25px 0 0 0;
      width: 192px;
      margin: 0 auto;
      display: block;
      clear: both;
      height: 20px;

      a {
        font-weight: bold;
        margin-left: 10px;
      }
    }

    h2 {
      margin-top: 6px;
      color: #363636;
      font-weight: 400 !important;
      font-family: $text-font-family;
      font-size: 17px;
      text-align: center;
      margin-bottom: 33px;
    }
  }
}

/* SIDEBAR */
.sidebar {
  padding: 3% 2%;
  width: 180px;
  float: right;
  text-align: center;
  background: white;
  font-weight: 300;
  font-size: 14px;

  img {
    width: 50%;
  }

  a {
    margin-top: 10px;
    display: block;
    font-weight: 500;
    font-size: 13px;
  }

  div {
    margin-top: 10px;
  }
}

/* PAGE: CONTACT */
.contactForm {
  textarea {
    height: 150px;
  }
}

/* GENERAL */
h1 a, h1, h2, h3, h4, .commentsHeader, #respond h3 {
  font-family: $header-font-family;
  color: $header-color;
  font-weight: 300 !important;
}

h1 {
  font-size: 200%;

  a {
    font-family: 'Average', sans-serif;
    font-size: 80%;
    line-height: 1;
  }
}

h2 {
  font-size: 160%;
  margin: 30px 0 25px 0;
}

h3 {
  font-size: 130%;
}

a {
  color: $no-link-color;
  text-decoration: none;
  font-style: normal;

  &:hover {
    color: #bea8ab !important;
  }

  .source {
    font-size: 90%;
    color: #5b5a59;
    text-decoration: none;
    font-weight: bold;
  }
}

p {
  line-height: 1.5;
}

strong {
  font-weight: 400;
}

img {
  border: none !important;
}

input {
  &[type="text"], &[type="email"], &[type="search"] {
    box-shadow: 0 1px 0 #b6b6b6;
    border: 0;
    color: #666;
    font-size: 90%;
    font-family: $text-font-family;
    background: transparent;

    &:focus {
      outline: 0;
    }
  }

  &[type="text"], &[type="email"] {
    width: 100%;
    border-radius: 0;
  }

  &[type="search"] {
    border-radius: 5px;
    margin: 0 auto;
    width: 200px;
    padding: 5px;
    text-align: center;
  }

  &[type=submit] {
    @extend button;
    margin: 10px 0;
  }
}

textarea {
  width: 98%;
  padding: 10px;
  border: 1px solid #d0d0d0;
  background-color: #fcfcfc;
  border-radius: 5px;
  margin: 10px 0 0 0;
  font-size: 90%;
  color: #666;
  font-family: $text-font-family;

  &:focus {
    outline: 0;
  }
}

.center {
  text-align: center;
  display: block;
  margin: 0 auto;
}

button {
  width: 200px;
  padding: 5px 15px 3px 15px;
  text-align: center;
  letter-spacing: 1px;
  font-family: Lato, sans-serif;
  display: block;
  color: #fff;
  font-size: 12px;
  border-radius: 10px;
  border: 0;
  border-bottom: darken($pink, 5%) 2px solid;
  //background: #DEB6B5;
  background: $pink;
  font-weight: 400;
  height: 30px;
  outline: none;

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
    transition-duration: 1s;
    transition-timing-function: linear;
    background: darken($pink, 2%);
    border-bottom: 0;
  }
}

/* ADS */
.noMobile {
  display: block;
  text-align: center;
}

.mobile {
  display: none;
}

.topAD ins {
  padding-top: 20px;
}

.logo2 {
  background: bottom url("./images/logo2.png") no-repeat;
  float: left;
  height: 111px;
  width: 293px;
  background-size: 300px;
  margin-left: 39%;
}

/* NEW LAY-OUT */

.navBar {
  background: white;
  opacity: 0.8;
  position: fixed;
  border-bottom: 1px solid white;
  width: 100%;
  z-index: 999;
  margin: 0 !important;
  padding: 10px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);

  .navBarWrapper {
    max-width: 1140px;
    margin: 0 auto;
  }

  ul {
    li {
      list-style: none;
      float: left;
    }
  }

  .menuItems {
    float: left;
    width: auto;
    margin: 0 !important;
    padding: 0 !important;
    text-transform: uppercase;
    font-size: 95%;
    letter-spacing: 2px;

    li {
      display: inline-block;
      margin-right: 1.5em;
      cursor: pointer;

      &:last-child {
        margin: 0 !important;
      }
    }
  }

  .social {
    float: right;
    width: 195px;
    margin: 0;
    margin-right: 10px;
    padding: 0 !important;
    clear: none !important;
    font-size: 120% !important;

    ul {
      list-style: none;
    }

    li {
      display: inline-block;
      margin-right: 2em;

      &:last-child {
        margin-right: 0;
      }

      a, i {
        transition: all 0.2s ease;
        transition-property: all;
        transition-duration: 0.2s;
        transition-timing-function: ease;
        transition-delay: initial;
        display: block;

        &:hover {
          -webkit-transform: scale(1.2);
          -moz-transform: scale(1.2);
          -o-transform: scale(1.2);
          -ms-transform: scale(1.2);
          transform: scale(1.2);
          color: #deb6b5;
        }
      }
    }
  }
}

header {
  .wrapper {
    max-width: 1150px;
    margin: 0 auto;
    padding-bottom: 20px;

    .logoContainer {
      padding-top: 60px;

      .logo {
        background: bottom url("./images/logo.png") no-repeat;
        float: left;
        margin-left: calc(50% - 103px);
        margin-bottom: 10px;
        height: 141px;
        width: 217px;
        background-size: 217px 145px;
      }

      .blogLovin {
        float: right;
        margin-right: 10px;
      }
    }
  }
}

#searchOn {
  input[type="search"] {
    display: block;
  }
}

@import 'css/_plugin.scss';
@import 'css/_mobile.scss';